<%= form_for :dump, url: { action: "import_csv" }, html: { multipart: true } do |f| %>
  <fieldset class="inputs">
    <ol>
      <li class="string input optional stringish">
        <%= label_tag I18n.t("active_admin.users.upload_csv"), class: "form-label" %>
        <%= f.file_field :file, required: true %>
      </li>
    </ol>
    <ol>
      <li class="string input optional stringish">
        <%= label_tag I18n.t("active_admin.users.organization"), class: "form-label" %>
        <%= f.select :organization_id, options_for_select(Organization.pluck(:name, :id)), { include_blank: true }, { required: true } %>
      </li>
    </ol>
  </fieldset>
  <fieldset class="actions">
    <ol>
      <li class="action input_action">
        <%= f.submit I18n.t("global.save") %>
      </li>
    </ol>
  </fieldset>
<% end %>
