<div class="row">
  <div class="col-sm-6 offset-md-3">
     <div class="card" id="login-box">
      <div class="card-body">
        <h2><%= t(".resend_instructions") %></h2>
        <p class="description"><%= t(".resend_instructions_description") %></p>
        <%= render 'application/flash_messages' %>
        <%= show_error_messages!(resource) %>
        <%= form_for resource, url: confirmation_path(resource_name), html: { method: :post } do |f| %>
          <div class="form-control">
            <div class="input-group">
              <span class="input-group-prepend">
                <%= glyph(:envelope) %>
              </span>
              <%= f.text_field :email, required: false, autofocus: true, placeholder: t("application.login_form.email"), class: "form-control form-control-lg" %>
            </div>
          </div>
          <div class="form-control">
            <div class="row">
              <div class="col-xs-12">
                <%= f.submit t(".resend_instructions_button"), class: "btn btn-primary btn-lg col-xs-12" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
