<div class="row">
  <div class="col-md-12">
    <h1><%= t('petitions.applications') %></h1>
  </div>
</div>

<div class="row">
  <div class="col-12 col-sm-12 col-md-12 col-lg-12">
    <ul class="nav nav-pills actions-menu">
      <li class="nav-item">
        <%= link_to manage_petitions_path(status: 'pending'), class: "nav-link #{'active' if @status == 'pending'}" do %>
          <%= glyph :time %>
          <%= status_applications('pending') %>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to manage_petitions_path(status: 'accepted'), class: "nav-link  #{'active' if @status == 'accepted'}" do %>
          <%= glyph :ok %>
          <%= status_applications('accepted') %>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to manage_petitions_path(status: 'declined'), class: "nav-link  #{'active' if @status == 'declined'}" do %>
          <%= glyph :remove %>
          <%= status_applications('declined') %>
        <% end %>
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body table-responsive">
        <table class="table table-hover table-sm">
          <thead>
            <tr>
              <th></th>
              <th><%= 'ID' %></th>
              <th><%= t('activerecord.attributes.user.username') %></th>
              <th><%= User.human_attribute_name(:email) %></th>
              <th><%= User.human_attribute_name(:phone) %></th>
              <% if current_user.manages?(current_organization) && @status == 'pending' %>
                <th>
                  <span class="glyphicon glyphicon-hand-down"></span>
                  <%= t("global.table.actions") %>
                </th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
              <%= content_tag(:tr) do %>
                <% petition = user.petitions.where(organization_id: current_organization.id).last %>
                <td><%= image_tag avatar_url(user.user) %></td>
                <td><%= user.id %></td>
                <td><%= user.username %></td>
                <td><%= user.email %></td>
                <td><%= phone_to user.phone %></td>
                <% if current_user.manages?(current_organization) && @status == 'pending'  %>
                  <td>
                    <%= link_to t('terms.accept'), petition_path(id: petition.id, status: 'accepted'), class: 'btn btn-primary', method: :put %>
                    <%= link_to t('global.decline'), petition_path(id: petition.id, status: 'declined'), class: 'btn btn-danger', method: :put %>
                  </td>
                <% end %>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="paginate-align">
      <%= paginate @users %>
    </div>
  </div>
</div>
