.row
  .col-sm-4
    = render "devise/shared/links"
  .col-sm-8
    .panel.panel-primary
      .panel-heading
        %h2.panel-title
          = t(".resend_instructions")

      .panel-body
        = show_error_messages!(resource)
        = form_for resource, url: unlock_path(resource_name), html: { method: :post } do |f|
          .form-group
            = f.label :email, class: "control-label"
            = f.text_field :email, required: false, autofocus: true, class: "form-control"
          .form-group
            = f.submit t(".resend_instructions"), class: "btn btn-primary"
