<h1>
  <%= t 'global.statistics' %>: <%= t '.demographics' %>
</h1>
<div class="card">
  <div class="card-body">
    <div id="pie-ages"></div>
    <div id="pie-gender"></div>
  </div>
</div>

<script type="text/javascript">
  $(function () {
    var ages = <%= raw @age_counts.to_a.to_json %>;
    $('#pie-ages').highcharts({
      title: {
        text: "<%= t '.by_ages' %>"
      },
      tooltip: {
        pointFormat: '{series.name}: <b>{point.y}</b>'
      },
      plotOptions: {
        pie: {
          allowPointSelect: true,
          cursor: 'pointer',
          dataLabels: {
            enabled: true,
            color: '#000000',
            connectorColor: '#000000',
            format: '<b>{point.name}</b>: {point.percentage:.1f} %'
          }
        }
      },
      series: [{
        type: 'pie',
        name: '<%= t '.num_people' %>',
        data: ages
      }]
    });

    var genders = <%= raw @gender_counts.to_a.to_json %>;
    $('#pie-gender').highcharts({
      title: {
        text: "<%= t '.by_gender' %>"
      },
      tooltip: {
        pointFormat: '{series.name}: <b>{point.y}</b>'
      },
      plotOptions: {
        pie: {
          allowPointSelect: true,
          cursor: 'pointer',
          dataLabels: {
            enabled: true,
            color: '#000000',
            connectorColor: '#000000',
            format: '<b>{point.name}</b>: {point.percentage:.1f} %'
          }
        }
      },
      series: [{
        type: 'pie',
        name: '<%= t '.num_people' %>',
        data: genders
      }]
    });
  });
</script>
