%h1= t("global.statistics") + ": " + t(".inactive_users")
.panel.panel-default
  .panel-body
    %table.table.table-hover.table-condensed
      %thead
        %tr
          %th ID
          %th= User.human_attribute_name(:username)
          %th= t ".days_without_swaps"
          %th= t ".last_movement"
      %tbody
      / Por días sin movimientos
      - @members.includes(:account).sort_by(&:days_without_swaps).reverse.map{ |a| a unless a.days_without_swaps.zero? }.compact.each do |mem|
        %tr
          %td= mem.member_uid
          %td= link_to mem.user.username, mem.user
          %td= mem.days_without_swaps
          %td= (mem.account.balance.blank? || mem.account.balance.zero?) ? t(".no_movements") : l(mem.account.updated_at, format: :long)
