%h1= t("global.statistics") + ": " + t(".global_activity")
%div{ ng_controller: "" }
  .panel.panel-default
    .panel-body
      %ul.nav.nav-pills.statistics
        %li
          = t ".users_reg"
          .badge
            = @data[:actives]
        %li
          = t ".num_swaps"
          .badge
            = @data[:global_swaps]
        %li
        = t ".total_hours"
        .badge
          = seconds_to_hm @data[:global_hours]
    %form.navbar-form.navbar-right{ style: "margin-right: 20px" }
      .form-group
        %input.form-control#datepicker_from{ placeholder: t(".ini_date"),
                                            name: "from",
                                            value: params[:from] }
        %input.form-control#datepicker_to{ placeholder: t(".end_date"),
                                          name: "to", value: params[:to] }
        %button.btn.btn-default{ type: :submit }= t(".show")
    #chart

:javascript
  window.onload = function () {
    //globales
    $("#chart").highcharts({
      chart: {
        type: "column"
      },
      title: {
        text: "#{t ".bank_activity"}"
      },
      subtitle: {
        text: "#{t ".per_month"}"
      },
      xAxis: {
        categories: #{@data[:dates].to_json}
      },
      yAxis: {
        min: 0,
        title: {
          text: ""
        }
      },
      tooltip: {
        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
        pointFormat: '<tr><td style="color:{series.color};padding:0"> {series.name}: </td>' + '<td style="padding:0"><b>{point.y}</b></td></tr>',
        footerFormat: "</table>",
          shared: true,
          useHTML: true
      },
      plotOptions: {
        column: {
          pointPadding: 0.2,
          borderWidth: 0
        }
      },
      series: [{
        name: "#{t ".users_reg"}",
        data: #{@data[:users_reg].to_json}

        }, {
        name: "#{t ".num_swaps"}",
        data: #{@data[:swaps].to_json}

        }, {
        name: "#{t ".total_hours"}",
        data: #{@data[:hours].to_json}
      }]
    });
  }
