%h1= t("global.statistics") + ": " + t(".transfers")
.panel.panel-default
  .panel-body
    %table.table.table-hover.table-condensed

      %thead
        %tr
          %th=t(".date")
          %th=t(".from")
          %th=t(".to")
          %th=t(".post")
          %th=t(".reason")
          %th=t(".quantity")
      - @transfers.each do |transfer|
        %tr
          %td= l transfer.created_at, format: :long
          - transfer.movements.sort_by(&:amount).each do |mv|
            %td
              - if mv.account.accountable.present?
                - if mv.account.accountable_type == "Organization"
                  = link_to mv.account,
                  organization_path(mv.account.accountable)
                - elsif mv.account.accountable.active
                  = link_to mv.account, user_path(mv.account.accountable.user)
                - else
                  = t(".inactive_user")
              - else
                = t(".deleted_user")
          %td
            = link_to_if(transfer.try(:post).try(:active?), transfer.post, transfer.post)
          %td
            = transfer.reason
            - if transfer.reason.present? && admin?
              = link_to delete_reason_transfer_path(transfer), method: :put, data: { confirm: t(".delete_reason") } do
                %span.glyphicon.glyphicon-trash
          %td= seconds_to_hm(transfer.movements.first.amount.abs)

    .paginate-align
      = paginate @transfers
