<h1>
  <%= t 'global.statistics' %>: <%= t '.type_of_swaps' %>
</h1>
<div class="card">
  <div class="card-body">
    <table class="table table-responsive table-hover table-sm">
      <thead>
        <tr>
          <th>%</th>
          <th><%= "#{Category.model_name.human} -> #{Offer.human_attribute_name(:tag_list)}" %></th>
          <th><%= t 'statistics.global_activity.total_hours' %></th>
          <th><%= t 'statistics.global_activity.num_swaps' %></th>
        </tr>
      </thead>
      <tbody>
        <% @offers.each do |offer| %>
          <tr>
            <td><%= number_to_percentage offer.last * 100, precision: 2 %></td>
            <td><%= "#{offer[0]} -> #{offer[1]}" %></td>
            <td><%= seconds_to_hm offer[2] %></td>
            <td><%= offer[3] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
