<h1>
  <%= t 'global.statistics' %>: <%= t '.without_offers' %>
</h1>
<div class="card">
  <div class="card-body">
    <table class="table table-responsive table-hover table-sm">
      <thead>
        <tr>
          <th>ID</th>
          <th><%= User.human_attribute_name(:username) %></th>
        </tr>
      </thead>
      <tbody>
        <% @members.reject { |mem| mem.offers.present? }.each do |mem| %>
          <tr>
            <td><%= mem.member_uid %></td>
            <td><%= link_to mem.user.username, mem.user %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
