%ul.breadcrumb#breadcrumb
  %li
    = link_to root_path do
      %i.icon-home
    %span.divider •
  - if @user
    %li
      = link_to users_path do
        %i.icon-user
        = t "application.nav.users"
      %span.divider •
    - if @user.persisted?
      - if defined?(action)
        %li
          = link_to @user.username, @user
          %span.divider •
        %li.active= t action
      - else
        %li.active= @user.username
    - else
      %li.active= t '.new'
  - else
    %li.active
      %i.icon-user
      = t "application.nav.users"
