.well
  = simple_form_for @user do |f|
    .form-inputs

      = f.input :username

      - if @user.id
        = f.input :email, :readonly => true
      - else
        = f.input :email

      - if request['action'] == 'edit'
        = link_to image_tag(avatar_url(@user, 50), alt: 'Modificar perfil'), gravatar_link(@user), target: '_blank'
        = f.input :gravatar_email, placeholder: 'Puedes enlazar tu gravatar desde este email alternativo.'
      
      / - if current_user.try :superadmin?
      /   = f.association :organization, include_blank: false
      /   = f.input :superadmin, :as => :boolean, :label => false, :inline_label => true
      / - if current_user.try :admin?
      /   = f.input :admin, :as => :boolean, :label => false, :inline_label => true, hint: t(".admin_warning")

      = f.input :phone
      = f.input :alt_phone

      / = f.association :categories, label_method: :fqn, input_html: {style: 'width: 100%'}

    .form-actions
      = f.button :submit
