%tr{ "ng-repeat" => "user in users | orderBy:sort | filter:filterTerm", "ng-class" => "{'bg-danger': !user.active}" }
  %td
    %img{ "ng-src" => "{{user.avatar}}", height: "32px", width: "32px" }
  %td {{user.member_id}}
  %td
    %span.glyphicon.glyphicon-time{ "ng-if" => "!user.active" }
    %a{ "ng-href" => "{{user.url}}" }
      {{user.username}}
  %td
    %a{ "ng-href" => "mailto:{{user.email}}", ng_if: "!user.unconfirmed_email"}
      {{user.email}}
    %a{ng_href: "mailto:{{user.unconfirmed_email}}", ng_if: "user.unconfirmed_email"}
      {{user.unconfirmed_email}}
  %td  
    %span.glyphicon.glyphicon-ok{ "ng-if" => "!user.email_sample" }
  %td {{user.phone}}
  %td {{user.alt_phone}}
  %td {{user.balance | timeBalance}}
  %td.hover-actions
    %a.action{ "ng-if" => "user.edit_link", "ng-href" => "{{user.edit_link}}"}
      %span.glyphicon.glyphicon-pencil
      = t "global.edit"

    %a.action{ "ng-if" => "user.cancel_link && !user.active", "ng-href" => "{{user.cancel_link}}", :data => {:method => :delete, :confirm => t('.cancel_warning', :user => "{{user.username}}")}}
      %span.glyphicon.glyphicon-ban-circle
      = t "global.cancel_membership"

    %a.action{ href: "", "ng-if" => "user.toggle_manager_link && user.active", "ng-click" => "toggle_manager(user)"}
      %span{ "ng-if" => "user.manager" }
        .glyphicon.glyphicon-arrow-down
        = t "global.demote"
      %span{ "ng-if" => "!user.manager" }
        .glyphicon.glyphicon-arrow-up
        = t "global.promote"

    %a.action{  href: "", "ng-if" => "user.toggle_active_link", "ng-click" => "toggle_active(user)"}
      %span{ "ng-if" => "user.active" }
        .glyphicon.glyphicon-remove
        = t ".deactivate"
      %span{ "ng-if" => "!user.active" }
        .glyphicon.glyphicon-ok
        = t ".activate"
