<% members.each do |member| %>
  <%= content_tag(:tr, class: member.row_css_class) do %>
    <td> <%= member.avatar %> </td>
    <td> <%= member.member_uid %> </td>
    <td>
      <%= member.inactive_icon %>
      <%= member.link_to_self %>
    </td>
    <td> <%= member.mail_to %> </td>
    <td> <%= member.phone %> </td>
    <td> <%= member.alt_phone %> </td>
    <td> <%= member.account_balance %> </td>
    <% if current_user.manages?(current_organization) %>
      <td class="hover-actions">
        <%= link_to member.edit_user_path, class: "action" do %>
          <%= glyph :pencil %>
          <%= t "global.edit" %>
        <% end %>

        <% if member.active? %>
          <%= link_to member.toggle_manager_member_path, class: "action", method: :put, data: { confirm: t('users.index.manage_warning', username: member.username) } do %>
            <% if !!member.manager %>
              <%= glyph :arrow_down %>
              <%= t "global.demote" %>
            <% else %>
              <%= glyph :arrow_up %>
              <%= t "global.promote" %>
            <% end %>
          <% end %>
        <% else %>
          <%= link_to member.cancel_member_path, class: "action", data: { confirm: t('.cancel_warning', user: member.username) }, method: :delete do %>
            <%= glyph :ban_circle %>
            <%= t("global.cancel_member") %>
          <% end %>
        <% end %>

        <%= link_to member.toggle_active_member_path, class: "action", method: :put, data: { confirm: t('users.index.active_warning', username: member.username) } do %>
          <% if member.active? %>
            <%= glyph :remove %>
            <%= t ".deactivate" %>
          <% else %>
            <%= glyph :ok %>
            <%= t ".activate" %>
          <% end %>
        <% end %>
      </td>
    <% end %>
  <% end %>
<% end %>
