<% users.each do |user| %>
  <% membership = memberships[user.id] %>

  <%= content_tag(:tr, class: membership.row_css_class) do %>
    <td> <%= membership.avatar %> </td>
    <td> <%= membership.member_uid %> </td>
    <td>
      <%= membership.inactive_icon %>
      <%= membership.link_to_self %>
    </td>
    <td> <%= membership.mail_to %> </td>
    <td> <%= membership.phone %> </td>
    <td> <%= membership.alt_phone %> </td>
    <td> <%= membership.account_balance %> </td>
    <% if current_user.manages?(current_organization) %>
      <td class="hover-actions">
        <%= link_to membership.edit_user_path, class: "action" do %>
          <%= glyph :pencil %>
          <%= t "global.edit" %>
        <% end %>

        <% if membership.active? %>
          <%= link_to membership.toggle_manager_member_path, class: "action", method: :put, data: { confirm: t('users.index.manage_warning', username: membership.username) } do %>
            <% if !!membership.manager %>
              <%= glyph :arrow_down %>
              <%= t "global.demote" %>
            <% else %>
              <%= glyph :arrow_up %>
              <%= t "global.promote" %>
            <% end %>
          <% end %>
        <% else %>
          <%= link_to membership.cancel_member_path, class: "action", data: { confirm: t('.cancel_warning', user: membership.username) }, method: :delete do %>
            <%= glyph :ban_circle %>
            <%= t("global.cancel_membership") %>
          <% end %>
        <% end %>

        <%= link_to membership.toggle_active_member_path, class: "action", method: :put, data: { confirm: t('users.index.active_warning', username: membership.username) } do %>
          <% if membership.active? %>
            <%= glyph :remove %>
            <%= t ".deactivate" %>
          <% else %>
            <%= glyph :ok %>
            <%= t ".activate" %>
          <% end %>
        <% end %>
      </td>
    <% end %>
  <% end %>
<% end %>
