%tr{ "ng-repeat" => "user in users | orderBy:sort | filter:filterTerm" }
  %td
    %img{ "ng-src" => "{{user.avatar}}", height: "32px", width: "32px" }
  %td {{user.member_id}}
  %td
    %span.glyphicon.glyphicon-time{ "ng-if" => "!user.active" }
    %a{ "ng-href" => "{{user.url}}" }
      {{user.username}}
  %td 
    %a{ "ng-href" => "mailto:{{user.email}}" }
      {{user.email}}
  %td {{user.phone}}
  %td {{user.alt_phone}}
  %td {{user.balance | timeBalance}} 
  %td.hover-actions
    %a.action{ "ng-if" => "user.edit_link", "ng-href" => "{{user.edit_link}}"}
      %span.glyphicon.glyphicon-pencil
      = t "global.edit"

      %a.action{ "ng-if" => "user.cancel_link", "ng-href" => "{{user.cancel_link}}", :data => {:method => :delete, :confirm => t('.cancel_warning', :user => "{{user.username}}")}}
        %span.glyphicon.glyphicon-ban-circle
        = t "global.cancel_membership"

      %a.action{ "ng-if" => "user.manage_link", "ng-href" => "{{user.manage_link}}", :data => {:method => :patch, :confirm => t('.manage_warning', :user => "{{user.username}}")} }
        %span{ "ng-if" => "user.manager" }
          .glyphicon.glyphicon-arrow-down
          = t "global.demote" 
        %span{ "ng-if" => "!user.manager" }
          .glyphicon.glyphicon-arrow-up
          = t "global.promote"

    %a.action{ "ng-if" => "user.activate_link", "ng-href" => "{{user.activate_link}}", :data => {:method => :patch, :confirm => t('.active_warning', :user => "{{user.username}}")}}
      %span{ "ng-if" => "user.active" }
        .glyphicon.glyphicon-remove
        = t ".deactivate"
      %span{ "ng-if" => "!user.active" }
        .glyphicon.glyphicon-ok
        = t ".activate"

