- users.each do |user|
  %tr
    %td= image_tag avatar_url(user), height: "32px", width: "32px"
    %td= @memberships[user.id].member_uid
    %td= link_to user, user
    %td= mail_to(user.email)
    %td= user.phone
    %td= user.alt_phone
    %td= seconds_to_hm @memberships[user.id].account_balance
    %td.hover-actions
      - if superadmin? || admin? || user == current_user
        %a.action{href: edit_user_path(user)}
          %span.glyphicon.glyphicon-pencil
          = t "global.edit"

      - if superadmin? || admin?
        %a.action{href: member_path(@memberships[user.id]), :data => {:method => :delete}}
          %span.glyphicon.glyphicon-ban-circle
          = t "global.cancel_membership"

        - unless user == current_user
          %a.action{href: toggle_manager_member_path(@memberships[user.id]), :data => {:method => :patch}}
            - if @memberships[user.id].manager
              %span.glyphicon.glyphicon-arrow-down
              = t "global.demote"
            - else
              %span.glyphicon.glyphicon-arrow-up
              = t "global.promote"

      - if superadmin?
        %a.action{href: user_toggle_active_path(user), :data => {:method => :put}}
          - if user.active?
            %span.glyphicon.glyphicon-remove
            = t ".deactivate"
          - else
            %span.glyphicon.glyphicon-ok
            = t ".activate"
