.page-header
  %h1
    %i.icon-key.icon-border
    = @user.username
    %small= t "change_password"

= simple_form_for @user do |f|
  = f.input :password
  = f.input :password_confirmation

  = f.submit
