= render "breadcrumb", action: "change_password"

%h1
  %i.icon-key.icon-border
  = @user.username
  %small= t "change_password"

= simple_form_for @user do |f|
  .form-inputs
    = f.input :password
    = f.input :password_confirmation

  .form-actions
    = f.button :submit
