%ul.breadcrumb#breadcrumb
  %li
    = link_to root_path do
      %i.icon-home
    %span.divider •
  %li
    = link_to users_path do
      %i.icon-user
      = t "application.nav.users"
    %span.divider •
  %li
    = link_to user_path(@user) do
      = @user.username
    %span.divider •
  %li.active= t "change_password"

%h1
  %i.icon-key.icon-border
  = @user.username
  %small= t "change_password"

= simple_form_for @user do |f|
  .form-inputs
    = f.input :password
    = f.input :password_confirmation

  .form-actions
    = f.button :submit
