- content_for :breadcrumb do
    = link_to root_path do
      %i.icon-home
    %span.divider •
  %li
    = link_to users_path do
      %i.icon-user
      = t "application.nav.users"
    %span.divider •
  %li
    = link_to @user.username, @user
    %span.divider •
  %li.active= t ".edit"

- content_for :title do
  = t ".edit"
  = @user.username

- content_for :subtitle do
  = @user.email

= render "form"