%h1
  = link_to @user
  %small= t ".give_time"

- if @offer
  %h3= @offer

= simple_form_for @transfer do |f|
  .form-inputs
    = f.input :amount
    = f.input :reason
    = f.input :destination, as: :hidden
    - if admin?
      = f.input :source, collection: @sources
    - if @offer
      = f.input :post, readonly: true



  .form-actions
    = f.button :submit
