- content_for :breadcrumb do
  %li
    = link_to root_path do
      %i.icon-home
    %span.divider •
  %li
    = link_to users_path do
      %i.icon-user
      = t "application.nav.users"
    %span.divider •
  %li
    = link_to @user, @user
    %span.divider •
  %li.active= t ".give_time"

- content_for :title do
  = @user

- content_for :subtitle do
  = t ".give_time"

- if @offer
  %h3= @offer


= simple_form_for @transfer do |f|
  .form-inputs
    = f.input :amount
    = f.input :reason
    = f.input :destination, as: :hidden
    - if admin?
      = f.input :source, collection: @sources
    - if @offer
      = f.input :post, readonly: true



  .form-actions
    = f.button :submit
