%h1
  = link_to @user
  %small= t ".give_time"

- if @offer
  %h3= @offer

= simple_form_for @transfer, :html => {:onsubmit => "computeSeconds();"} do |f|
  .form-inputs
    = f.input :hours, as: :integer, input_html: { min: 0 }
    = f.input :minutes, as: :integer, input_html: { min: 0, max: 60, step: 15 }
    = f.input :amount, as: :hidden
    = f.input :reason
    = f.input :destination, as: :hidden
    - if admin?
      = f.input :source, collection: @sources
    - if @offer
      = f.input :post, readonly: true

  .form-actions
    = f.button :submit

:javascript
  function computeSeconds() {
    $("#transfer_amount").val($("#transfer_hours").val() * 3600 + $("#transfer_minutes").val() * 60);
    return true;
  }
