%h1
  %small= t ".give_time"
  = link_to @user

- if @offer
  %h3= @offer

= simple_form_for @transfer do |f|
  .form-inputs
    = f.input :hours, as: :integer, input_html: { min: 0, max: 20, "data-rule-either-hours-minutes-informed" => "true", "data-rule-range" => "[0,20]"}
    = f.input :minutes, as: :integer, input_html: { min: 0, max: 59, step: 15, "data-rule-either-hours-minutes-informed" => "true", "data-rule-range" => "[0,59]"}
    = f.input :amount, as: :hidden
    = f.input :reason
    = f.input :destination, as: :hidden
    - if admin?
      = f.input :source, collection: @sources
    - if @offer
      = f.input :post, readonly: true
      = f.input :post_id, as: :hidden

  .form-actions
    = f.button :submit
