%h1
  = User.model_name.human.pluralize


%table.table.table-hover.table-condensed.users
  %thead
    %tr
      .navbar
        .navbar-inner
          %ul.nav.pull-right
            - if admin?
              %a.btn.btn-primary{href: new_user_path}
                = t ".create"
    %tr
      %th
      - if superadmin?
        %th= User.human_attribute_name(:organization)
      %th= User.human_attribute_name(:registration_number)
      %th= User.human_attribute_name(:username)
      %th= User.human_attribute_name(:email)
      %th= User.human_attribute_name(:phone)
      %th= User.human_attribute_name(:alt_phone)

      %th
        %span.glyphicon.glyphicon-hand-down
        Acciones
  %tbody
    = render partial: "user_rows", locals: {users: @users}

  %tfoot
    %tr
      %td(colspan="10")
        = link_to_next_page @users, t('.more'), remote: true, class: "btn btn-default"
