<div>
  <h1>
    <%= User.model_name.human.pluralize %>
    —
    <%= link_to current_organization.name,
                organization_path(current_organization) %>
  </h1>
  <div class="navbar">
    <%= search_form_for(@search, class: "navbar-form navbar-left") do |f| %>
      <%= f.search_field :username_or_email_contains, class: "form-control" %>
      <button class="btn btn-default" type="submit">
        <%= t 'global.search' %>
      </button>
    <% end %>
    <ul class="nav navbar-nav pull-right">
      <% if admin? %>
        <li>
          <a href="<%= new_user_path %>">
            <span class="glyphicon glyphicon-plus"></span>
            <%= t "helpers.submit.create", model: User.model_name.human %>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="table-responsive">
    <table class="table table-hover table-condensed users panel">
      <thead>
        <tr></tr>
        <tr>
          <th></th>
          <th>ID</th>
          <th>
            <%= sort_link @search, :username, User.human_attribute_name(:username) %>
          </th>
          <th>
            <%= sort_link @search, :email, User.human_attribute_name(:email) %>
          </th>
          <th>
            <%= User.human_attribute_name(:phone) %>
          </th>
          <th>
            <%= User.human_attribute_name(:alt_phone) %>
          </th>
          <th>
            <%= sort_link @search, 'accounts_balance', User.human_attribute_name(:balance) %>
          </th>
          <% if current_user.manages? current_organization %>
            <th>
              <span class="glyphicon glyphicon-hand-down"></span>
              <%= t(".actions") %>
            </th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <%= render "user_rows", users: @users %>
      </tbody>
    </table>

    <%= paginate @users %>
  </div>
</div>
