<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1><%= t(".members") %></h1>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <%= search_form_for(@search, class: "navbar-form navbar-left", url: users_path) do |f| %>
        <div class="form-group">
          <%= f.search_field :user_username_or_user_email_or_member_uid_search_contains, class: "form-control search-input" %>
          <button class="btn-icon zbtn-default" type="submit">
          <i class="material-icons search-icon" title="<%= t 'global.search' %>">search</i>          
          </button>
        </div>        
      <% end %>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h2>
        <%= link_to current_organization.name,
                    organization_path(current_organization) %>
      </h2>
    </div>
  </div>

  <div class="row to-member-cards display-flex">
    <%= render partial: 'member_card', collection: @member_view_models, as: :member %>
  </div>

  <div class="row">
    <div class="col-md-12">
      <%= paginate @members %>
    </div>
  </div>
</div>
