%h1
  = User.model_name.human.pluralize
  &mdash; 
  = link_to current_organization.name, organization_path(current_organization)
  - if params[:q].present?
    %small
      %span.glyphicon.glyphicon-search
      = params[:q]

.navbar
  %form.navbar-form.navbar-left{action: users_path, role: "search", method: "get"}
    .form-group
      %input.form-control{type: "text", placeholder: t("global.search"), name: "q", value: params[:q]}
    %button.btn.btn-default{type: "submit"}= t("global.search")

  %ul.nav.navbar-nav.pull-right
    - if admin?
      %li
        %a{href: new_user_path}
          %span.glyphicon.glyphicon-plus
          = t "helpers.submit.create", model: User.model_name.human

%table.table.table-hover.table-condensed.users
  %thead
    %tr
    %tr
      %th
      %th ID
      %th= User.human_attribute_name(:username)
      %th= User.human_attribute_name(:email)
      %th= User.human_attribute_name(:phone)
      %th= User.human_attribute_name(:alt_phone)
      %th= Account.human_attribute_name(:balance)

      %th
        %span.glyphicon.glyphicon-hand-down
        Acciones
  %tbody
    = render partial: "user_rows", locals: {users: @users}

  %tfoot
    %tr
      %td{colspan: "10"}
        = link_to_next_page @users, t('.more'), remote: true, class: "btn btn-default", params: params
