%div{"ng-controller" => "UserListCtrl"}
  %h1
    = User.model_name.human.pluralize
    &mdash;
    = link_to current_organization.name, organization_path(current_organization)
    - if params[:q].present?
      %small
        %span.glyphicon.glyphicon-search
        = params[:q]

  .navbar
    %form.navbar-form.navbar-left
      %input.form-control{type: "text", placeholder: t("global.search"), "ng-model" => "filterTerm"}
    %ul.nav.navbar-nav.pull-right
      - if admin?
        %li
          %a{href: new_user_path}
            %span.glyphicon.glyphicon-plus
            = t "helpers.submit.create", model: User.model_name.human

  %table.table.table-hover.table-condensed.users
    %thead
      %tr
      %tr
        %th
        %th
          %a{ href: "", ng_click: "sortBy('member_id')" }
            ID
            %span.glyphicon.glyphicon-chevron-down{ ng_if: "sort == '-member_id'" }
            %span.glyphicon.glyphicon-chevron-up{ ng_if: "sort == 'member_id'" }
        %th
          %a{ href: "", ng_click: "sortBy('username')" }
            = User.human_attribute_name(:username)
            %span.glyphicon.glyphicon-chevron-down{ ng_if: "sort == '-username'" }
            %span.glyphicon.glyphicon-chevron-up{ ng_if: "sort == 'username'" }
        %th
          %a{ href: "", ng_click: "sortBy('email')" }
            = User.human_attribute_name(:email)
            %span.glyphicon.glyphicon-chevron-down{ ng_if: "sort == '-email'" }
            %span.glyphicon.glyphicon-chevron-up{ ng_if: "sort == 'email'" }
        %th= User.human_attribute_name(:email_real)
        %th= User.human_attribute_name(:phone)
        %th= User.human_attribute_name(:alt_phone)
        %th
          %a{ href: "", ng_click: "sortBy('balance')" }
            = Account.human_attribute_name(:balance)
            %span.glyphicon.glyphicon-chevron-down{ ng_if: "sort == '-balance'" }
            %span.glyphicon.glyphicon-chevron-up{ ng_if: "sort == 'balance'" }

        %th
          %span.glyphicon.glyphicon-hand-down
          =t(".actions")
    %tbody
      = render partial: "user_rows", locals: {users: @users}

%script{type: "text/ng-template", id: "confirm_toggle_manager.html"}
  .modal-body= t('.manage_warning_angular')
  .modal-footer
    %button.btn.btn-primary{"ng-click" => "$close(true)"} OK
    %button.btn.btn-warning{"ng-click" => "$dismiss()"} NO

%script{type: "text/ng-template", id: "confirm_toggle_active.html"}
  .modal-body= t('.active_warning_angular')
  .modal-footer
    %button.btn.btn-primary{"ng-click" => "$close(true)"} OK
    %button.btn.btn-warning{"ng-click" => "$dismiss()"} NO

:javascript
  angular.module("timeoverflow").run(function ($rootScope, $location, $http, $modal) {
    $rootScope.users = #{ users_as_json };
  });
