<div class="row">
  <div class="col-md-12">
    <h1>
      <%= link_to current_organization.name, current_organization %>
      <%= t(".members") %>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= search_form_for(@search, class: "form-inline navbar-left", url: users_path) do |f| %>
      <div class="form-control">
        <%= f.search_field :member_search_unaccent_cont, value: params.dig(:q, :member_search_unaccent_cont), class: "form-control" %>
      </div>
      <button class="btn btn-secondary" type="submit">
        <%= t 'global.search' %>
      </button>
    <% end %>
  </div>
</div>

<div class="member-cards">
  <%= render partial: 'member_card', collection: @member_view_models, as: :member %>
</div>

<div class="row">
  <div class="col-md-12">
    <%= paginate @members %>
  </div>
</div>
