%h1
  = User.model_name.human.pluralize
  - if params[:q].present?
    %small
      = succeed(":") do
        = t("global.search")
      = params[:q]

.navbar
  %form.navbar-form.navbar-left{action: users_path, role: "search", method: "get"}
    .form-group
      %input.form-control{type: "text", placeholder: t("global.search"), name: "q"}
    %button.btn.btn-default{type: "submit"}= t("global.search")
    %button.btn.btn-default{type: "reset"}= t("global.clear")
  %ul.nav.navbar-nav.pull-right
    - if admin?
      %li
        %a{href: new_user_path}
          %span.glyphicon.glyphicon-plus
          = t ".create"

%table.table.table-hover.table-condensed.users
  %thead
    %tr
    %tr
      %th
      - if superadmin?
        %th= User.human_attribute_name(:organization)
      %th= User.human_attribute_name(:registration_number)
      %th= User.human_attribute_name(:username)
      %th= User.human_attribute_name(:email)
      %th= User.human_attribute_name(:phone)
      %th= User.human_attribute_name(:alt_phone)

      %th
        %span.glyphicon.glyphicon-hand-down
        Acciones
  %tbody
    = render partial: "user_rows", locals: {users: @users}

  %tfoot
    %tr
      %td{colspan: "10"}
        = link_to_next_page @users, t('.more'), remote: true, class: "btn btn-default", params: params
