<div class="row">
  <div class="col-md-12">
    <h1>
      <%= link_to current_organization.name, current_organization %>
      <%= t("users.index.members") %>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= search_form_for(@search, class: "form-inline navbar-left", url: manage_users_path) do |f| %>
      <div class="form-control">
        <%= f.search_field :member_search_unaccent_cont, value: params.dig(:q, :member_search_unaccent_cont), class: "form-control" %>
      </div>
      <button class="btn btn-secondary" type="submit">
        <%= t 'global.search' %>
      </button>
    <% end %>
    <ul class="nav navbar-nav text-end">
      <% if admin? %>
        <li class="nav-item">
          <a href="<%= new_user_path %>" class="nav-link text-primary">
            <span class="glyphicon glyphicon-plus"></span>
            <%= t "helpers.submit.create", model: User.model_name.human %>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-responsive table-hover table-sm card">
      <thead>
        <tr>
          <th></th>
          <th>
            <%= sort_link @search, :member_uid, 'ID' %>
          </th>
          <th>
            <%= sort_link @search, :user_username, User.human_attribute_name(:username) %>
          </th>
          <th>
            <%= User.human_attribute_name(:email) %>
          </th>
          <th>
            <%= User.human_attribute_name(:phone) %>
          </th>
          <th>
            <%= sort_link @search, 'account_balance', Account.human_attribute_name(:balance) %>
          </th>
          <% if current_user.manages? current_organization %>
            <th>
              <span class="glyphicon glyphicon-hand-down"></span>
              <%= t(".actions") %>
            </th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <%= render partial: "user_row", collection: @member_view_models, as: :member %>
      </tbody>
    </table>

    <%= paginate @members %>
  </div>
</div>
