<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1><%= t(".members") %></h1>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <%= search_form_for(@search, class: "navbar-form navbar-left", url: manage_users_path) do |f| %>
        <div class="form-group">
          <%= f.search_field :user_username_or_user_email_or_member_uid_search_contains, class: "form-control" %>
        </div>
        <button class="btn btn-default" type="submit">
          <%= t 'global.search' %>
        </button>
      <% end %>
      <ul class="nav navbar-nav pull-right">
        <% if admin? %>
          <li>
            <a href="<%= new_user_path %>" class="mdc-button mdc-button--raised">
              <i class="material-icons v-a-7">add</i>
              <%= t "helpers.submit.create", model: User.model_name.human %>
            </a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h2>
        <%= link_to current_organization.name,
                    organization_path(current_organization) %>
      </h2>

      <div class="table-responsive">
        <table class="table table-hover table-condensed users panel">
          <thead>
            <tr>
              <th></th>
              <th>
                <%= sort_link @search, :member_uid, 'ID' %>
              </th>
              <th>
                <%= sort_link @search, :user_username, User.human_attribute_name(:username) %>
              </th>
              <th>
                <%= User.human_attribute_name(:email) %>
              </th>
              <th>
                <%= User.human_attribute_name(:phone) %>
              </th>
              <th>
                <%= sort_link @search, 'account_balance', Account.human_attribute_name(:balance) %>
              </th>
              <% if current_user.manages? current_organization %>
                <th>
                  <span class="glyphicon glyphicon-hand-down"></span>
                  <%= t(".actions") %>
                </th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <%= render partial: "user_row", collection: @member_view_models, as: :member %>
          </tbody>
        </table>

        <%= paginate @members %>
      </div>
    </div>
  </div>
</div>
