%ul.breadcrumb#breadcrumb
  %li
    = link_to root_path do
      %i.icon-home
    %span.divider •
  %li
    = link_to users_path do
      %i.icon-user
      = t "application.nav.users"
    %span.divider •
  %li.active= t "New user"


%h1
  %i.icon-user.icon-border
  = t "New user"

= render "form"