%ul.breadcrumb#breadcrumb
  %li
    = link_to root_path do
      %i.icon-home
    %span.divider •
  %li
    = link_to users_path do
      %i.icon-user
      = t "application.nav.users"
    %span.divider •
  %li.active= @user.username


%h1
  %i.icon-user.icon-border
  = @user.username
  %small= @user.email
  - if @user.superadmin?
    %span.label.label-important= t ".superadmin"
  - if @user.admin
    %span.label.label-warning= t ".admin"

%ul.nav.nav-pills
  - if current_user == @user or admin?
    %li
      %a{href: edit_user_path(@user)}
        %i.icon-pencil
        = t "edit"
  - if current_user == @user or admin?
    %li
      %a{href: change_password_user_path(@user)}
        %i.icon-key
        = t "change password"
  - if admin?
    %li
      %a{href: user_path(@user), data: {method: :delete, confirm: t("are_you_sure") }}
        %i.icon-trash
        = t "delete"
  - if admin?
    %li
      %a{href: ""}
        %i.icon-time
        = t "give time"

.row-fluid
  .span4
    %h2= t ".data"
    %dl.dl-horizontal
      %dt= User.human_attribute_name(:organization)
      %dd= link_to @user.organization.name, @user.organization

      %dt= User.human_attribute_name(:registration_number)
      %dd= @user.registration_number
      %dt= User.human_attribute_name(:registration_date)
      %dd= l @user.registration_date rescue "-"
      %dt= User.human_attribute_name(:date_of_birth)
      %dd= l @user.date_of_birth rescue "-"
      %dt= User.human_attribute_name(:identity_document)
      %dd= @user.identity_document || "-"
      - phones = [@user.phone, @user.alt_phone].map(&:presence).compact
      %dt= t(".phone", count: phones.size)
      %dd
        - phones.each_with_index do |ph, idx|
          - unless idx.zero?
            &mdash;
          = ph

  / .span4
  /   %h2 t ".categories"
  /   %ul.unstyled
  /     - @user.categories.each do |cat|
  /       %li= cat.fqn

  .span4
    %h2= t ".offers"
    %ul
      - @user.joined_offers.each do |offer|
        %li= link_to(offer.title, offer)


    %p{style: "color: red"}
      %i.icon-warning
      WORK IN PROGRESS



