<div class="panel user-profile">
  <div class="panel-body">
    <ul class="nav nav-pills pull-right">
      <% if admin? || @user == current_user %>
        <li>
          <%= link_to edit_user_path(@user) do %>
            <%= glyph :pencil, t('global.edit') %>
            <span class="hidden-xs hidden-sm"><%= t "global.edit" %></span>
          <% end %>
        </li>
      <% end %>
    </ul>
    <h1>
      <%= @user.username %>
      <small>
        <% if @user.superadmin? %>
          <span class="label label-important">
            <%= t ".superadmin" %>
          </span>
        <% end %>
      </small>
    </h1>
    <div class="row">
      <div class="col-sm-3 col-xs-5 text-center">
        <% if @user == current_user %>
          <a href="https://www.gravatar.com" target="_blank">
            <%= image_tag avatar_url(@user, 140) %>
          </a>
          <a href="https://www.gravatar.com" target="_blank" class="btn btn-link">
            <%= glyph :pencil %> <%= t ".change_your_image" %>
          </a>
        <% else %>
          <%= image_tag avatar_url(@user, 140) %>
        <% end %>
      </div>
      <div class="col-sm-9 col-xs-7 break-word">
        <%= m @user.description %>
        <dl class="dl-horizontal">
          <% if @user.has_valid_email? %>
            <dt>
              <%= User.human_attribute_name(:email) %>
            </dt>
            <dd>
              <%= mail_to @user.email %>
            </dd>
          <% end %>
          <% phones = [@user.phone, @user.alt_phone].select(&:present?) %>
          <% if phones.present? %>
            <dt>
              <%= t(".phone", count: phones.size) %>
            </dt>
            <dd>
              <% phones.each_with_index do |phone, index| %>
                <%= "—" if index != 0 %>
                <%= phone_to phone %>
              <% end %>
            </dd>
          <% end %>
        </dl>
      </div>
    </div>
  </div>
</div>
