%h1
  = @user.username
  %small
    = @user.email
    - if @user.superadmin?
      %span.label.label-important= t ".superadmin"
    - if @user.admin
      %span.label.label-warning= t ".admin"


.row
  .span2
    %ul.nav.nav-pills
      - if admin? or @user == current_user
        %li
          %a{href: edit_user_path(@user)}
            %span.glyphicon.glyphicon-pencil
            = t "edit"

  .span10

    %ul.nav.nav-pills.pull-right
      - if admin?
        %li
          %a{href: user_path(@user), data: {method: :delete, confirm: t("are_you_sure")}}
            %span.glyphicon.glyphicon-trash
            = t "edit"
      %li
        %a{href: give_time_user_path(@user)}
          %span.glyphicon.glyphicon-time
          = t "give time"
      - unless @user == current_user
        %li
          %a
            %span.glyphicon.glyphicon-envelope
            = t "send message"

    %h1= @user
    %p= @user.description

    %dl.dl-horizontal
      - if @user.registration_date.present?
        %dt= User.human_attribute_name(:registration_date)
        %dd= l @user.registration_date
      - if @user.date_of_birth.present?
        %dt= User.human_attribute_name(:date_of_birth)
        %dd= l @user.date_of_birth
      - phones = [@user.phone, @user.alt_phone].map(&:presence).compact
      %dt= t(".phone", count: phones.size)
      %dd
        - phones.each_with_index do |ph, idx|
          - unless idx.zero?
            &mdash;
          = ph

.row
  .span6.offers

    %h2
      = t ".offers"
      - if admin? or @user == current_user
        %small
          %a#bulk-add-offers(href="#" data-user-id="#{@user.id}")
            %span.glyphicon.glyphicon-plus
            = t ".join another"

    %ul.offers
      - @user.joined_posts.offers.each do |post|
        %li.post
          .post-title= post.title
          - if (other_posters = post.joined_users.select {|u| u != @user}).present?
            .post-posters
              = t ".by"
              - other_posters.each do |poster|
                %span.poster<
                  = link_to poster, poster
          .post-time
            %span.timeago= time_ago_in_words post.updated_at
          .post-description
            = post.description
          .post-actions
            = link_to t(".show"), post
            - if current_user == @user
              = link_to t(".leave"), leave_offer_path(post), data: {method: :POST}
            - elsif admin? or current_user == @user
              = link_to t(".leave"), leave_offer_path(post, user: @user.id), data: {method: :POST}

    #offers-bulk-modal.modal.hide.fade(tabindex="-1" role="dialog" aria-hidden=true aria-labelledby="offersBulkModal")
      .modal-header
        %button.close(data-dismiss="modal" aria-hidden="true") ×
        %h3= t "add_offers"
      .modal-body
      .modal-footer
        %button.btn(data-dismiss="modal" aria-hidden="true")

  .span6.inquiries

    %h2
      = t ".inquiries"
      - if admin? or @user == current_user
        %small
          %a{href: true}
            %span.glyphicon.glyphicon-plus
            = t ".join another"

    %ul.inquiries
      - @user.joined_posts.inquiries.each do |post|
        %li.post
          .post-title= post.title
          - if (other_posters = post.joined_users.select {|u| u != @user}).present?
            .post-posters
              = t ".by"
              - other_posters.each do |poster|
                %span.poster<
                  = link_to poster, poster
          .post-time
            %span.timeago= time_ago_in_words post.updated_at
          .post-description
            = post.description
          .post-actions
            = link_to t(".show"), post
            - if current_user == @user
              = link_to t(".leave"), leave_inquiry_path(post), data: {method: :POST}
            - elsif admin? or current_user == @user
              = link_to t(".leave"), leave_inquiry_path(post, user: @user.id), data: {method: :POST}


.row
  .span12.transactions
    %h2
      = t ".account"
      %small
        = succeed ":" do
          = t ".balance"
        = @user.account.balance
    %table.table
      - @user.account.movements.order("created_at DESC").limit(10).each do |mv|
        %tr
          %td= l mv.created_at, format: :short
          %td= mv.other_side.account
          %td= mv.transfer.post
          %td= mv.transfer.reason
          %td= mv.amount
