<div class="row">
  <div class="col-sm-4">
    <%= render "devise/shared/links" %>
  </div>
  <div class="col-sm-8">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h2 class="panel-title">
          <%= t(".change_password") %>
        </h2>
      </div>
      <div class="panel-body">
        <%= show_error_messages!(resource) %>
        <%= form_for resource, url: password_path(resource_name), html: { method: :put } do |f| %>
          <%= f.hidden_field :reset_password_token %>
          <div class="form-group">
            <%= f.label :password, t(".new_password"), class: "control-label" %>
            <%= f.password_field :password, required: true, autofocus: true, class: "form-control", ng_model: "password" %>
          </div>
          <div class="form-group" ng_class="{ 'has-error': password != password_confirmation  %>">
            <%= f.label :password_confirmation, t(".confirm_password"), class: "control-label" %>
            <%= f.password_field :password_confirmation, required: true, class: "form-control", ng_model: "password_confirmation" %>
            <div class="help-block" ng_if="password && password_confirmation && password != password_confirmation">
              <%= t ".passwords_not_match" %>
            </div>
          </div>
          <div class="form-group">
            <%= f.submit t(".change_password"), class: "btn btn-primary", ng_disabled: "!password || password != password_confirmation" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
