.row
  .col-sm-4
    = render "devise/shared/links"
  .col-sm-8
    .panel.panel-primary
      .panel-heading
        %h2.panel-title
          =t(".forgot_question")

      .panel-body
        = devise_error_messages! 
        = form_for resource, url: password_path(resource_name), html: { method: :post } do |f|
          .form-group
            = f.label :email, class: "control-label"
            = f.text_field :email, :required => true, :autofocus => true, class: "form-control"
          .form-group
            = f.submit t(".send_instructions"), class: "btn btn-primary"
