<div class="row">
  <div class="col-sm-3">&nbsp;</div>
  <div class="col-sm-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h2 class="panel-title">
          <%= t(".forgot_question") %>
        </h2>
      </div>
      <div class="panel-body">
        <%= show_error_messages!(resource) %>
        <%= form_for resource, url: password_path(resource_name), html: { method: :post } do |f| %>
          <div class="form-group">
            <%= f.label :email, class: "control-label" %>
            <%= f.text_field :email, required: true, autofocus: true, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.submit t(".send_instructions"), class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
