<div class="card user-profile">
  <div class="card-body">
    <h3>
      <%= t(".movements") %>
    </h3>
    <div class="transactions table-responsive">
      <table class="table table-sm">
        <thead>
          <tr>
            <th><%= t "global.date" %></th>
            <th><%= t "global.source_destination" %></th>
            <th><%= t "global.announcements" %></th>
            <th><%= t "global.reason" %></th>
            <th><%= t "global.amount" %></th>
          </tr>
        </thead>
        <% @movements.each do |mv| %>
          <tr>
            <td>
              <%= l mv.created_at.to_date, format: :long %>
            </td>
            <td>
              <%
                display_account = mv.other_side.account
              %>
              
              <% if display_account.accountable.present? %>
                <% if display_account.accountable_type == "Organization" %>
                  <%= link_to display_account,
                      organization_path(display_account.accountable) %>
                <% elsif display_account.accountable.active %>
                  <%= link_to display_account.accountable.display_name_with_uid,
                      user_path(display_account.accountable.user) %>
                <% else %>
                  <%= t("users.show.inactive_user") %>
                <% end %>
              <% else %>
                <%= t("users.show.deleted_user") %>
              <% end %>
            </td>
            <td>
              <% if mv.transfer&.post&.active? %>
                <%= link_to mv.transfer.post, offer_path(mv.transfer.post) %>
              <% elsif is_bank_to_bank_transfer?(mv.transfer) %>
                <span class="badge bg-info"><%= t("organizations.transfers.bank_transfer") %></span>
              <% else %>
                <%= mv.transfer.post %>
              <% end %>
            </td>
            <td>
              <%= mv.transfer.reason %>
              <% if mv.transfer.reason.present? && admin? %>
                <%= link_to glyph(:trash),
                            delete_reason_transfer_path(mv.transfer),
                            method: :put,
                            data: { confirm: t(".delete_reason") } %>
              <% end %>
            </td>
            <td>
              <strong class="<%= green_red(mv.amount) %>">
                <%= seconds_to_hm(mv.amount) %>
              </strong>
            </td>
          </tr>
        <% end %>
      </table>
      <div class="paginate-align">
        <%= paginate @movements %>
      </div>
    </div>
  </div>
</div>
