<% posts.each do |post| %>
  <div class="post">
    <h4>
      <%= link_to post.title, post %>
      <% if post.is_group %>
        <div class="post__group_label label label-default"><%= I18n.t("activerecord.attributes.#{post.class.name.downcase}.is_group") %></div>
      <% end %>
    </h4>
    <p>
      <%= strip_tags(post.rendered_description.to_html) %>
    </p>
    <p>
      <small>
        <% if post.category %>
          <%= glyph :folder_open %>
          <span class="category">
            <%= link_to [post.class, cat: post.category] do %>
              <%= post.category %>
            <% end %>
          </span>
        <% end %>
        <% (post.tags || []).each do |tag| %>
          <%= glyph :tag %>
          <%= link_to [post.class, tag: tag] do %>
            <%= tag %>
          <% end %>
        <% end %>
      </small>
    </p>

    <% if post.type == "Inquiry" %>
      <div class="post__datetime">
        <%= l post.updated_at.to_date, format: :long %>
      </div>
    <% end %>
  </div>
<% end %>
