= form_for(post, html: { name: "form" }) do |f|
  .form-group
    = f.label :title
    = f.text_field :title, class: "form-control"
  .form-group
    = f.label :description
    = f.text_field :description, class: "form-control"
  .form-group
    = f.label :category
    = f.select :category_id, Category.all.map{ |cat| [cat.name, cat.id] }, { include_blank: true }, { class: "form-control" }
  .form-group
    = f.label :tag_list
    = f.text_field :tag_list, as: :string, class: "form-control"

  - if current_user.manages? current_organization
    .form-group{ ng_class: "{'has-error': !user_id}" }
      = f.label :user, class: "control-label"
      = f.select :user_id, options_for_select(current_organization.members.order("members.member_uid").map{ |mem| ["#{mem.member_uid} #{mem.user.to_s}", mem.user_id] }, selected: params[:user_id].to_i), { include_blank: true }, { id: "select2", class: "form-control", ng_model: "user_id", ng_required: "!user_id" }
    = f.hidden_field :publisher_id, value: current_user.id

  = f.button t("offers.new.submit"), class: "btn btn-default", style: "margin-bottom: 20px;", ng_disabled: "form.$invalid"

:javascript
  $("#offer_tag_list").tagsManager();
  $("#inquiry_tag_list").tagsManager();

  $("#select2").select2({
    placeholder: " ",
    formatNoMatches: function() {
        return 'Usuario no encontrado.';
    }
  })
