- posts.each do |post|
  .post
    %h4
      = link_to post do
        = post.title
    %p= strip_tags(post.rendered_description.to_html)
    %p
      %small
        - if post.category
          %span.glyphicon.glyphicon-folder-open
          %span.category
            - path = get_index_path(post,cat: post.category)
            =link_to path do
              = post.category
        - (post.tags || []).each do |tag|
          %span.glyphicon.glyphicon-tag
          - path = get_index_path(post,tag: tag)
          =link_to path do
            = tag
        %span.pull-right
          = l post.created_at.to_date, format: :long
