<% posts.each_with_index do |post, postindex| %>
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="zpost to-member-card">
      <div class="to-member-card__header">      
        <div class="to-member-card__header__text">
          <h4>
            <%= link_to post.title, post %>
            <% if post.is_group %>
              <div class="group">
                <i class="material-icons u-va-6">people</i>
                <%= I18n.t("activerecord.attributes.#{post.class.name.downcase}.is_group") %>
              </div>            
            <% end %>
          </h4>
          <% if current_user && current_organization %>
            <div class="to-member-card__header__text__activity">
              <%= link_to post.member, post.user  %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="to-member-card__body">
        <div class="to-member-card__body__description">
          <%= strip_tags(post.rendered_description.to_html) %>
        </div>
        
        <div class="to-member-card__body__items row">
          <div class="to-member-card__body__item col-lg-12 col-xs-12 u-p-15-xs" data-toggle="collapse" href="#collapseUserInfo-<%= post.id %>" role="button" aria-expanded="false" aria-controls="collapseUserInfo">
            <i class="material-icons u-va-6 u-mr-20">keyboard_arrow_down</i>
            <%= t('.show_all') %>
          </div>
          <div class="collapse" id="collapseUserInfo-<%= post.id %>">

            <% if post.type == "Inquiry" %>
              <div class="to-member-card__body__item col-xs-12 u-p-15-xs">
              <i class="material-icons u-va-6 u-mr-20">today</i>            
              <%= l post.updated_at.to_date, format: :long %>
            </div>
            <% end %>        
            <% if post.category %>          
                <div class="to-member-card__body__item col-xs-12 u-p-15-xs">
                  <i class="material-icons u-va-6 u-mr-20">category</i>            
                  <%= link_to [post.class, cat: post.category] do %>
                    <%= post.category %>
                  <% end %>
                </div>
              
            <% end %>
            <% if post.tags.present? %>
            <div class="to-member-card__body__item col-xs-12 u-p-15-xs">
              <i class="material-icons u-va-6 u-mr-20">more</i>
              <% (post.tags || []).each_with_index do |tag, index| %>
                <%= link_to [post.class, tag: tag], class: "tag" do %>
                  <% if index != 0 %>
                    <span>/</span>
                  <% end %>
                  <%= tag %>                  
                <% end %>
              <% end %>
            </div>
            <% end %>            
          </div>
        </div>
      </div>
    </div>
  </div>  
  <% if postindex % 2 == 1 %>
  <div class="col-xs-12"></div>
  <% end %>
<% end %>


