<% @category = Category.find_by(id: params[:cat]) %>
<% selected_org = Organization.find_by(id: params[:org]) %>

<div class="col-md-8">
  <form action="<%= base_path %>"
        class="form-inline d-flex navbar-left align-items-center mb-2"
        method="get"
        role="search">
    <%= hidden_field_tag(:org, params[:org]) if params[:org].present? %>
    <div class="d-flex h-100">
      <input class="form-control w-auto"
              name="q"
              placeholder="<%= t("global.search") %>"
              type="text"
              value="<%= params[:q] %>">
      <button class="btn btn-secondary ms-1" type="submit">
        <%= t("global.search") %>
      </button>
    </div>
    <ul class="nav navbar-nav d-none d-sm-flex">
      <li class="dropdown nav-item">
        <a class="dropdown-toggle nav-link text-primary" href="#" data-bs-toggle="dropdown" role="button" aria-expanded="false">
          <%= @category ? @category.name : Category.model_name.human %>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li>
            <%= link_to "× #{t('global.all')}", base_path + (params[:org] ? "?org=#{params[:org]}" : ""), class: "dropdown-item" %>
          </li>
          <% all_categories.each do |c| %>
            <% next if c == @category %>
            <li>
              <% 
                query_params = {}
                query_params[:cat] = c.id
                query_params[:org] = params[:org] if params[:org].present?
                link_path = "#{base_path}?#{query_params.to_query}"
              %>
              <%= link_to link_path, class: "dropdown-item" do %>
                <%= category_icon(c) %>
                <%= c.name %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav d-none d-sm-flex">
      <li class="dropdown nav-item">
        <a class="dropdown-toggle nav-link text-primary" href="#" data-bs-toggle="dropdown" role="button" aria-expanded="false">
          <%= selected_org ? selected_org.name : t("activerecord.models.organization.other") %>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li>
            <% 
              query_params = {}
              query_params[:show_allied] = true
              query_params[:cat] = params[:cat] if params[:cat].present?
              link_path = "#{base_path}?#{query_params.to_query}"
            %>
            <%= link_to "× #{t('global.all')}", link_path, class: "dropdown-item" %>
          </li>
          <% allied_organizations.each do |org| %>
            <% next if org.id.to_s == params[:org] %>
            <li>
              <% 
                query_params = {}
                query_params[:org] = org.id
                query_params[:cat] = params[:cat] if params[:cat].present?
                link_path = "#{base_path}?#{query_params.to_query}"
              %>
              <%= link_to link_path, class: "dropdown-item" do %>
                <%= org.name %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </li>
    </ul>
  </form>
</div>
