- posts.each do |post|
  .post
    %h5
      = link_to post do
        = post.title
        %span.glyphicon.glyphicon-expand
      %small
        - if post.category
          %span.glyphicon.glyphicon-folder-open
          = post.category
        - (post.tags || []).each do |tag|
          %span.glyphicon.glyphicon-tag
          - path = (post.type.eql?("Offer"))?offers_path(tag: tag):inquiries_path(tag: tag)
          =link_to path do
            = tag
    %p= post.description
