<h1>
  <%= post.title %>
</h1>
<div class="row">
  <div class="sidebar col-md-3">
    <div class="card card-info border-info mb-4">
      <div class="card-header bg-info">
        <div class="card-title d-flex justify-content-between text-primary mb-0 font-weight-bold">
          <%= post.class.model_name.human %>
          <% if post.is_group %>
            <span class="badge bg-secondary"><%= I18n.t("activerecord.attributes.#{post.class.name.downcase}.is_group") %></span>
          <% end %>
        </div>
      </div>
      <div class="card-body">
        <%= l post.updated_at.to_date, format: :long %>
        <p></p>
        <%= link_to [post.class, cat: post.category] do %>
          <%= category_icon(post.category) %>
          <%= post.category %>
        <% end %>
        <p></p>
        <% if post.tags.present? %>
          <% post.tags.each do |tag| %>
            <span class="badge rounded-pill bg-info">
              <%= glyph(:tag) %>
              <%= link_to [post.class, tag: tag] do %>
                <%= tag %>
              <% end %>
            </span>
          <% end %>
        <% end %>
      </div>
    </div>
    <% if current_user && current_organization == post.organization && current_user.active?(current_organization) %>
      <div class="card card-info border-info">
        <div class="card-header bg-info">
          <div class="card-title font-weight-bold mb-0">
            <%= link_to post.member.display_name_with_uid, post.user  %>
          </div>
        </div>
        <div class="card-body">
          <%= link_to image_tag(avatar_url(post.user, 100)), post.user %>
          <h3>
            <%= t "global.contact_details" %>
          </h3>
          <% if post.user.has_valid_email? %>
            <dt><%= User.human_attribute_name :email %></dt>
            <dd><%= mail_to post.user.email %></dd>
          <% end %>
          <% phones = [post.user.phone, post.user.alt_phone].select(&:present?) %>
          <% if phones.present? %>
            <dt><%= User.human_attribute_name(:phone) %></dt>
            <dd>
              <% phones.each do |phone| %>
                <span><%= phone_to phone%></span>
              <% end %>
            </dd>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-md-9 lead">
    <div class="card card-info border-info break-word">
      <div class="card-body post-description">
        <%= m post.rendered_description.to_html %>
      </div>
    </div>
  </div>
</div>
<% if !current_user || post.organization != current_organization || !current_user.active?(current_organization) %>
  <div class="alert alert-info">
    <%= t 'posts.show.info',
      type: post.class.model_name.human,
      organization: post.organization.name %>
  </div>
<% end %>
<% unless current_user %>
  <div class="alert alert-info">
    <%= link_to t("layouts.application.login"),
      new_user_session_path,
      class: "btn btn-primary" %>
  </div>
<% end %>
