= simple_form_for(post) do |f|
  = f.input :title
  = f.input :description
  = f.association :category
  = f.input :tag_list, as: :string, placeholder: 'search tag', input_html: { class: 'typeahead', autocomplete: 'on' }

  - if current_user.manages? current_organization
    = f.association :user, collection: current_organization.users
    = f.hidden_field :publisher_id, value: current_user.id
  = f.button :submit

:javascript
  $("#offer_tag_list").tagsManager();
