- if @category.present?
  %small
    = glyph(Category)
    = @category.name
- if params[:q].present?
  %small
    = glyph(:search)
    = params[:q]
- if params[:tag].present?
  %small
    = glyph(:tag)
    = params[:tag]
