<div class="row">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
    <div class="panel" id="login-box">
      <div class="panel-heading">
        <h1>
          <%= glyph :hourglass %>
          TimeOverflow
        </h1>
      </div>
      <div class="panel-body">
        <form action="index.html" role="form">
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">
                <%= glyph :user %>
              </span>
              <input class="form-control input-lg"
                     placeholder="Email address"
                     type="text">
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">
                <%= glyph :lock %>
              </span>
              <input class="form-control input-lg"
                     placeholder="Password"
                     type="password">
            </div>
          </div>
          <div class="form-group" id="remember-me-wrapper">
            <div class="row">
              <div class="col-xs-6">
                <div class="checkbox-nice">
                  <input id="remember-me" checked="checked" type="checkbox">
                  <label for="remember-me">
                    <%= t("devise.sessions.new.remember_me") %>
                  </label>
                </div>
              </div>
              <a class="col-xs-6"
                 id="login-forget-link"
                 href="forgot-password-full.html">
                <%= t("devise.shared.links.forgot_your_password") %>
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <button class="btn btn-success btn-lg col-xs-12" type="submit">
                Login
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="panel-footer">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
