<div class="container-inner">
  <div class="row">
    <div class="col-xs-10 col-sm-10 col-md-6 col-lg-6 col-xs-offset-1 col-sm-offset-1 col-md-offset-3 col-lg-offset-3 header">
      <h2><%== t("pages.about.title") %><span><%== t("pages.about.title2") %></span></h2>
      <h3><%= t("pages.about.subtitle") %></h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 features">
      <ul>
      <% for i in 1..2 %>
        <li>
          <div class="feature-group<%= i == 1 ? ' first' : '' %>">
            <div class="feature-group-text"><%= t("pages.about.feature-group-#{i}") %></div>
          </div>
          <ul>
          <% for j in 1..3 %>
            <li <%= (i*j) == 6 ? 'class=last' : '' %>>
              <div class="feature">
                <div class="feature-icon"><i class="material-icons">done</i></div>
                <div class="feature-text"><%= t("pages.about.feature-text-#{i*j}") %></div>
              </div>
            </li>
          <% end %>
          </ul>
        </li>
      <% end %>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 banner">
      <h2><%= t("pages.about.banner-title") %></h2>
      <h3><%= t("pages.about.banner-subtitle") %></h3>
      <a href="http://adbdt.org/contacta/" class="btn btn-info" role="button"><%= t("pages.about.banner-button") %></a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 empower">
      <h2><%= t("pages.about.empower-title") %></h2>
      <p><%== t(
        "pages.about.empower-text-1",
        showmap_link: link_to(
          t("pages.about.empower-showmap"),
          "http://www.bdtonline.org",
          { title: t("pages.about.empower-showmap-title") }
        )
      ).html_safe %></p>
      <p><%== t(
        "pages.about.empower-text-2",
        coopdevs_link: link_to(
          t("pages.about.empower-coopdevs"),
          "https://github.com/coopdevs",
          { title: t("pages.about.empower-coopdevs-title") }
        ),
        abdt_link: link_to(
          t("pages.about.empower-adbdt"),
          "http://adbdt.org",
          { title: t("pages.about.empower-adbdt-title") }
        )
      ).html_safe %></p>
      <p><%== t(
        "pages.about.empower-text-3",
        github_link: link_to(
          t("pages.about.empower-github"),
          "https://github.com/coopdevs/timeoverflow",
          { title: t("pages.about.empower-github-title") }
        )
      ).html_safe %></p>
    </div>
  </div>
</div>