<div class="container-inner">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3 header">
      <h2><%= t("pages.about.title") %></h2>
      <h3><%= t("pages.about.subtitle") %></h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 features">
      <ul>
        <li>
          <span><%= t("pages.about.feature-group-1") %></span>
          <ul>
            <li><span><i class="material-icons">done</i><%= t("pages.about.feature-text-1") %></span></li>
            <li><span><i class="material-icons">done</i><%= t("pages.about.feature-text-2") %></span></li>
            <li><span><i class="material-icons">done</i><%= t("pages.about.feature-text-3") %></span></li>
          </ul>
        </li>
        <li>
          <span><%= t("pages.about.feature-group-2") %></span>
          <ul>
            <li><span><i class="material-icons">done</i><%= t("pages.about.feature-text-4") %></span></li>
            <li><span><i class="material-icons">done</i><%= t("pages.about.feature-text-5") %></span></li>
            <li class="last"><span><i class="material-icons">done</i><%= t("pages.about.feature-text-6") %></span></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 banner">
      <h2><%= t("pages.about.banner-title") %></h2>
      <h3><%= t("pages.about.banner-subtitle") %></h3>
      <a href="http://adbdt.org/contacta/" class="btn btn-info" role="button"><%= t("pages.about.banner-button") %></a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 empower">
      <h2><%= t("pages.about.empower-title") %></h2>
      <p><%== t(
        "pages.about.empower-text-1",
        showmap_link: link_to(
          t("pages.about.empower-showmap"),
          "http://www.bdtonline.org",
          { title: t("pages.about.empower-showmap-title") }
        )
      ).html_safe %></p>
      <p><%== t(
        "pages.about.empower-text-2",
        coopdevs_link: link_to(
          t("pages.about.empower-coopdevs"),
          "https://github.com/coopdevs",
          { title: t("pages.about.empower-coopdevs-title") }
        ),
        abdt_link: link_to(
          t("pages.about.empower-adbdt"),
          "http://adbdt.org",
          { title: t("pages.about.empower-adbdt-title") }
        )
      ).html_safe %></p>
      <p><%== t(
        "pages.about.empower-text-3",
        github_link: link_to(
          t("pages.about.empower-github"),
          "https://github.com/coopdevs/timeoverflow",
          { title: t("pages.about.empower-github-title") }
        )
      ).html_safe %></p>
    </div>
  </div>
</div>