<%= content_for :window_title do %>
TimeOverflow - Time Bank on-line management
<% end %>

<div class="container-inner">
  <div class="row">
    <div class="col-sm-6">
      <div class="text-center">
        <h1>TimeOverflow</h1>
        <%= image_tag "sand-clock.png", width: 50 %>
        <h2>The software designed by and for Time Banks</h2>
        <em>TimeOverflow is open source, free and collaborative</em>
      </div>
      <div class="text-left" style="margin-top: 40px;">
        <p>Features of
          <strong>TimeOverflow</strong>:</p>

        <ul>
          <li>
            Time Bank management with administration roles
            <ul>
              <li>Creation/deletion/updates of bank members</li>
              <li>Posting of offers and inquiries</li>
              <li>Enter checks and manage accounting</li>
            </ul>
          </li>
          <li>
            Social network and online banking accessible by members
            <ul>
              <li>Members of a Time Bank can access the system and connect with other members</li>
              <li>Posting of offers and inquiries</li>
              <li>Pay hours to other members</li>
            </ul>
          </li>
        </ul>
      </div>

      <h2>Are you a Time Bank?</h2>
      <div class="text-center">
        <a
          class="btn btn-primary btn-large"
          href="http://adbdt.org/contacta/"
          style="font-size:30px; margin-top:20px;">
          Request access to TimeOverflow
        </a>
      </div>
      <div class="text-center">
        <p>
          <em>(We will contact you to start it up or make you a demonstration)</em>
        </p>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="text-center">
        <h2>Already a member of a Time Bank that uses TimeOverflow?</h2>
        <a
          class="btn btn-primary btn-large"
          href="<%= new_user_session_path %>"
          style="font-size:30px; margin-top:20px;">
          Click here
        </a>
      </div>
      <p></p>
      <p>If you are a person interested in participating in a Time Bank, find your
        closest Time Bank at
        <a href="http://www.bdtonline.org" title="Bancos de Tiempo">bdtonline.org</a>.
      </p>
      <p></p>
      <%= image_tag "oferta.png", class: "img-responsive center-block" %>

      <h2>Internet enhances Time Banks activity</h2>
      <p>TimeOveflow is specially designed
        <strong>for and by Time Banks</strong>
        that physically exist (<a href="http://www.bdtonline.org" title="Bancos de Tiempo">see map</a>), and its purpose is to boost them thanks to Internet.
      </p>

      <p>Thanks to the joint job of
        <a href="https://github.com/coopdevs">CoopDevs</a>
        and
        <a
          href="http://adbdt.org"
          title="Association for the Development of Time Banks">ADBdT</a>
        today we can offer the software
        <strong>TimeOverflow</strong>
        to all Time Banks that want it, open and for free.
      </p>

      <p>The source code of TimeOverflow is available based on an open source license
        and you can download it at
        <a href="https://github.com/coopdevs/timeoverflow">https://github.com/coopdevs/timeoverflow</a>
      </p>
      <div class="text-center">
        <%= link_to image_tag("github.png", alt: "Github logo", height: 30),
                    "https://github.com/coopdevs/timeoverflow",
                    title: "TimeOverflow Github" %>
      </div>
    </div>
  </div>
</div>
