<%= content_for :window_title do %>
  TimeOverflow - Gestió on-line de Bancs de Temps
<% end %>

<div class="container-inner">
  <% if current_user and !current_organization %>
    <%= render 'organization_list' %>
  <% end %>
  <div class="row">
    <div class="col-sm-6">
      <div class="text-center">
        <h1>TimeOverflow</h1>
        <%= image_tag "sand-clock.png", width: 50 %>
        <h2>El software disenyat per i per als Bancs de Temps</h2>
        <em>TimeOverflow és lliure, gratuït i col·laboratiu</em>
      </div>

      <div class="text-left" style="margin-top: 40px;">
        <p>Funcionalitats de <strong>TimeOverflow</strong>:</p>
        <ul>
          <li>
            Gestió del Banc de Temps amb perfils d'administració
            <ul>
              <li>Altes/baixes/modificacions de membres</li>
              <li>Publicar ofertes i demandes</li>
              <li>Introduir xecs i gestionar la comptabilitat</li>
            </ul>
          </li>
          <li>
            Xarxa social i banca en línia accessible pels membres
            <ul>
              <li>Els membres d'un Banc de Temps poden accedir al sistema i
                contactar amb altres membres</li>
              <li>Publicar ofertes i demandes</li>
              <li>Pagar hores a altres membres</li>
            </ul>
          </li>
        </ul>
      </div>

      <h2>Ets un Banc de Temps?</h2>
      <div class="text-center">
        <a class="btn btn-primary btn-large"
           href="http://adbdt.org/ca/contacta/"
           style="font-size:30px;margin-top:20px;">
          Sol·licita accés a TimeOverflow
        </a>
      </div>
      <div class="text-center">
        <p>
          <em>(ens posarem en contacte amb tu per posar-lo en marxa o fer-vos
            una demostració)</em>
        </p>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="text-center">
        <h2>Ja ets membre d'un Banc de Temps que fa servir TimeOverflow?</h2>
        <a class="btn btn-primary btn-large"
           href="<%= new_user_session_path %>"
           style="font-size:30px;margin-top:20px;">
          Entra aquí
        </a>
      </div>
      <p></p>
      <p>Si ets una persona interessada a participar en un Banc de Temps,
        busca el teu Banc de Temps més proper a
        <a href="http://www.bdtonline.org" title="Bancs de Temps">bdtonline.org</a>.
      </p>
      <p></p>

      <%= image_tag "oferta.png", class: "img-responsive center-block" %>

      <h2>Internet potencia els Bancs de Temps</h2>
      <p>TimeOveflow està especialment dissenyat <strong>per i per als Bancs de Temps</strong>
        que existeixen físicament(<a href="http://www.bdtonline.org" title="Bancs de Temps">veure mapa</a>),
        la seva fi és potenciar gràcies a Internet.
      </p>
      <p>Gràcies al treball conjunt de <a href="https://github.com/coopdevs">CoopDevs</a>
        i la <a href="http://adbdt.org/ca" title="Associació per al Desenvolupament dels Bancs de Temps">ADBdT</a>
        avui podem oferir el sofware <strong>TimeOverflow</strong> a tots els Bancs de
        Temps que així ho desitgin de manera lliure i gratuïta.
      </p>

      <p>El codi font de TimeOverflow està disponible sota una llicència
        open source, ja es pot descarregar a
        <a href="https://github.com/coopdevs/timeoverflow">https://github.com/coopdevs/timeoverflow</a>
      </p>
      <div class="text-center">
        <%= link_to image_tag("github.png", alt: "Github logo", height: 30),
                    "https://github.com/coopdevs/timeoverflow",
                    title: "TimeOverflow Github" %>
      </div>
    </div>
  </div>
</div>
