.tag_list.container_fluid
  - alpha_tags.each do |kg, vl|
    .col-xs-4.col-md-2
      %h2.bg-info.text-center
        = kg
      - vl.each do |tag, count|
        %p
          .badge
            = count
          - path = get_index_path(@current_post_type.pluralize, tag: tag)
          = link_to path do
            - gtag = (count == 1) ? "tag" : "tags"
            = glyph(gtag)
            = tag
