.tag_list.container_fluid
  - alpha_tags.each_slice(6) do |gr|
    .row
      - gr.each do |kg, vg|
        .col-xs-2.col-md-2
          %h2.bg-info.text-center
            = kg
          - vg.each do |tag, count|
            %p
              .badge
                = count
              - path = get_index_path(post_type.pluralize, tag: tag)
              = link_to path do
                - gtag = (count == 1) ? "tag" : "tags"
                = glyph(gtag)
                = tag
