.tag_list.container_fluid
  - alpha_tags.each_slice(6) do |gr|
    .row
      - gr.each do |gk, v|
        .col-xs-2.col-md-2
          %h2.bg-info.text-center
            = gk
          - v = v.sort_by { |_k, num| num }.reverse
          - v.each do |tag, count|
            %p
              .badge
                #{count}
              - path = get_index_path(@current_post_type.pluralize, tag: tag)
              = link_to path do
                - gtag = (count == 1) ? "tag" : "tags"
                = glyph(gtag)
                = tag
