%h1
  =t(".maintitle")
  
  = form_tag "/", method: :post do
    .btn-group{"data-toggle" => "buttons"}
      %label.btn.btn-primary.active
        = radio_button_tag :switch_offer, :value => 'offer', :checked => true
        = Offer.model_name.human(count: :many)
      %label.btn.btn-primary
        = radio_button_tag :switch_inquiry, :value => 'inquiry'
        = Inquiry.model_name.human(count: :many)

.alpha_tag_list
  = render :partial => 'grouped_index', :locals => { :alpha_tags => @alpha_tags }
