<li class="dropdown <%= "active" if controller_name == "statistics" %> nav-item">
  <a class="dropdown-toggle nav-link" href="#" data-bs-toggle="dropdown" role="button" aria-expanded="false">
    <%= glyph :stats %>
    <%= t "application.navbar.statistics" %>
  </a>
  <ul class="dropdown-menu" role="menu">
    <li>
      <%= link_to global_activity_statistics_path, class: "dropdown-item" do %>
        <%= glyph :stats %>
        <%= t "application.navbar.global_activity" %>
      <% end %>
    </li>
    <li>
      <%= link_to inactive_users_statistics_path, class: "dropdown-item" do %>
        <%= glyph :stats %>
        <%= t "application.navbar.inactive_users" %>
      <% end %>
    </li>
    <li>
      <%= link_to demographics_statistics_path, class: "dropdown-item" do %>
        <%= glyph :stats %>
        <%= t "application.navbar.demographics" %>
      <% end %>
    </li>
    <li>
      <%= link_to last_login_statistics_path, class: "dropdown-item" do %>
        <%= glyph :stats %>
        <%= t "application.navbar.last_login" %>
      <% end %>
    </li>
    <li>
      <%= link_to without_offers_statistics_path, class: "dropdown-item" do %>
        <%= glyph :stats %>
        <%= t "application.navbar.without_offers" %>
      <% end %>
    </li>
    <li>
      <%= link_to type_swaps_statistics_path, class: "dropdown-item" do %>
        <%= glyph :stats %>
        <%= t "application.navbar.type_of_swaps" %>
      <% end %>
    </li>
    <li>
      <%= link_to all_transfers_statistics_path, class: "dropdown-item" do %>
        <%= glyph :stats %>
        <%= t "application.navbar.statistics_all_transfers" %>
      <% end %>
    </li>
  </ul>
</li>
