<% if current_user.organizations.count > 1 %>
  <li class="disabled">
    <a href="#"><%= current_organization.name %></a>
  </li>
  <% (current_user.organizations - [current_organization]).each do |org| %>
    <li>
      <%= link_to set_current_organization_path(org), method: :post do %>
        <%= glyph(:retweet) %>
        <%= org.name %>
      <% end %>
    </li>
  <% end %>

  <li class="divider" role="presentation"></li>
<% end %>

<li role="presentation">
  <%= link_to current_user do %>
    <%= glyph :user %>
    <%= t "layouts.application.edit_profile" %>
  <% end %>
</li>

<% current_user.members.where(manager: true).each do |m| %>
  <li role="presentation">
    <%= link_to m.organization do %>
      <%= glyph :pencil %>
      <%= t "layouts.application.edit_org", organization: m.organization %>
    <% end %>
  </li>
<% end %>

<% if superadmin? %>
  <li role="presentation">
    <%= link_to admin_root_path do %>
      <%= glyph :cog %>
      <%= t "application.navbar.adminshort" %>
    <% end %>
  </li>
<% end %>

<li class="divider" role="presentation"></li>

<li role="presentation">
  <%= link_to destroy_user_session_path, method: :delete do %>
    <%= glyph :log_out %>
    <%= t "application.navbar.sign_out" %>
  <% end %>
</li>
