<% if current_user.organizations.count > 1 %>
  <%= render 'application/menus/organization_switcher' %>
  <li class="divider" role="presentation"></li>
<% end %>

<li role="presentation">
  <%= link_to current_user do %>    
    <i class="material-icons v-a-5 m-r-5">person</i>
    <%= t "layouts.application.edit_profile" %>
  <% end %>
</li>

<% current_user.members.where(manager: true).each do |m| %>
  <li role="presentation">
    <%= link_to m.organization do %>      
      <i class="material-icons v-a-5 m-r-5">edit</i>
      <%= t "layouts.application.edit_org", organization: m.organization %>
    <% end %>
  </li>
<% end %>

<% if superadmin? %>
  <li role="presentation">
    <%= link_to admin_root_path do %>
      <i class="material-icons v-a-5 m-r-5">people</i>
      <%= t "application.navbar.adminshort" %>
    <% end %>
  </li>
<% end %>

<li class="divider" role="presentation"></li>

<li role="presentation">
  <%= link_to destroy_user_session_path, method: :delete do %>
    <i class="material-icons v-a-5 m-r-5">exit_to_app</i>
    <%= t "application.navbar.sign_out" %>
  <% end %>
</li>
