<% if current_user.organizations.count > 1 %>
  <li>
    <a class="dropdown-item disabled" href="#"><%= current_organization.name %></a>
  </li>
  <% (current_user.organizations - [current_organization]).each do |org| %>
    <li>
      <%= link_to set_current_organization_path(org), method: :post, class: "dropdown-item text-white" do %>
        <%= glyph(:retweet) %>
        <%= org.name %>
      <% end %>
    </li>
  <% end %>
  <li class="dropdown-divider" role="presentation"></li>
<% end %>

<li>
  <%= link_to current_user, class: "dropdown-item text-white" do %>
    <%= glyph :user %>
    <%= t "layouts.application.edit_profile" %>
  <% end %>
</li>

<li>
  <%= link_to organizations_path, class: "dropdown-item text-white" do %>
    <%= glyph :list %>
    <%= t('layouts.application.manage_memberships') %>
  <% end %>
</li>

<% current_user.members.where(manager: true).each do |m| %>
  <li>
    <%= link_to m.organization, class: "dropdown-item text-white" do %>
      <%= glyph :pencil %>
      <%= t "layouts.application.edit_org", organization: m.organization %>
    <% end %>
  </li>
<% end %>

<% if superadmin? %>
  <li>
    <%= link_to admin_root_path, class: "dropdown-item text-white" do %>
      <%= glyph :cog %>
      <%= t "application.navbar.adminshort" %>
    <% end %>
  </li>
<% end %>

<li class="dropdown-divider" role="presentation"></li>
<li>
  <%= link_to destroy_user_session_path, method: :delete, class: "dropdown-item text-white" do %>
    <%= glyph :log_out %>
    <%= t "application.navbar.sign_out" %>
  <% end %>
</li>
