%ul.breadcrumb#breadcrumb
  %li
    = link_to root_path do
      %i.icon-home
    %span.divider •
  - if @offer
    %li
      = link_to offers_path do
        %i.icon-hand-up
        = t "application.nav.offers"
      %span.divider •
    - if @offer.persisted?
      - if defined?(action)
        %li
          = link_to @offer.title, @offer
          %span.divider •
        %li.active= t action
      - else
        %li.active= @offer.title
    - else
      %li.active= t '.new'
  - else
    %li.active
      %i.icon-hand-up
      = t "application.nav.offers"
