%ul

  - @offers.each do |offer|
    %li.post.offer(data-post-id="#{offer.id}" data-user-id="#{@user.id}")
      %h5
        = offer.title
        %small
          %span.glyphicon.glyphicon-folder-open
          = offer.category
          - offer.tags.each do |tag|
            %span.glyphicon.glyphicon-tag
            = tag
      %p= offer.description
      %a.join-post(href="#") join me

