
%h1
  = Offer.model_name.human(count: :many)
  - if @category.present?
    %small
      %span.glyphicon.glyphicon-folder-open
      = @category.name

.row

  .col-md-2.col-md-push-10

    %a.btn.btn-info{href: new_offer_path}
      %span.glyphicon.glyphicon-plus
      = t "helpers.submit.create", model: Offer.model_name.human

    %h4= t 'global.filter'
    .btn-group
      - if @category
        %button.btn.dropdown-toggle.btn-warning(data-toggle="dropdown")
          %span.glyphicon.glyphicon-folder-open
          = @category.name
          %span.caret
      - else
        %button.btn.dropdown-toggle.btn-default(data-toggle="dropdown")
          %span.glyphicon.glyphicon-folder-open
          = Category.model_name.human
          %span.caret
      %ul.dropdown-menu{role: "menu"}
        %li= link_to "× #{t("global.all")}", offers_path
        - Category.all.each do |c|
          - next if c == @category
          %li= link_to c.name, offers_path(cat: c.id)

  .col-md-10.col-md-pull-2

    .offers
      = render :partial => 'shared/posts', :locals => { :posts => @offers }

    = link_to_next_page @offers, t('.more'), remote: true



