
%h1
  = Offer.model_name.human(count: :many)
  - if @category.present?
    %small
      %span.glyphicon.glyphicon-folder-open-alt
      = @category.name


%ul.nav.nav-pills
  %li
  %a{href: new_offer_path}
    %span.glyphicon.glyphicon-plus
    = t '.new_offer'

.accordion
  .accordion-group
    .accordion-heading
      %a.accordion-toggle{href: "#filterPanel", data: {toggle: "collapse"}}
        %span.glyphicon.glyphicon-filter
        = t ".filter"

    .accordion-body.collapse#filterPanel{class: ("in" if @tag_list.present? or @category.present?)}
      .accordion-inner
        .row-fluid

          .span4
            %h5
              %span.glyphicon.glyphicon-folder-open-alt
              = t ".by_category"
            - Category.all.each do |cat|
              = link_to cat.name, offers_path(params.merge(:cat => (cat.id unless cat == @category))), :class => ["btn", "btn-small", (cat == @category ? "btn-info" : "btn-link")]


%ul.offers
  = render :partial => 'shared/posts', :locals => { :posts => @offers }

= link_to_next_page @offers, t('.more'), remote: true



