= render 'breadcrumb'
%h1
  %i.icon-hand-up.icon-border
  = Offer.model_name.human(count: :many)

%ul.nav.nav-pills
  %li
  %a{href: new_offer_path}
    %i.icon-plus
    = t '.new_offer'

- if @category.present?
  = link_to offers_path(params.merge(:cat => nil)), :class => ["label", "label-success"] do
    %i.icon-folder-open-alt
    = @category.name
    ×
- if @tag_list.present?

  - @tag_list.each do |tag|
    = link_to offers_path(params.merge(:tag => (@tag_list.dup.remove tag).to_s.presence)), :class => ["label"] do
      %i.icon-tag
      = tag
      ×
.accordion
  .accordion-group
    .accordion-heading
      %a.accordion-toggle{href: "#filterPanel", data: {toggle: "collapse"}}
        %i.icon-filter
        = t ".filter"

    .accordion-body.collapse#filterPanel{class: ("in" if @tag_list.present? or @category.present?)}
      .accordion-inner
        .row-fluid

          .span4
            %h5
              %i.icon-folder-open-alt
              = t ".by_category"
            - Category.all.each do |cat|
              = link_to cat.name, offers_path(params.merge(:cat => (cat.id unless cat == @category))), :class => ["btn", "btn-small", (cat == @category ? "btn-info" : "btn-link")]

          .span4
            %h5
              %i.icon-tag
              = t ".by_tag"
            - tag_cloud(@tag_cloud, %w(css1 css2 css3 css4)) do |tag, css_class|
              - if @tag_list.include? tag.name
                = link_to tag.name, offers_path(params.merge(:tag => (@tag_list.dup.remove tag.name).to_s.presence)), :class => ["btn", "btn-small", "btn-inverse"]
              - else
                = link_to tag.name, offers_path(params.merge(:tag => (@tag_list.dup.add tag.name).to_s)), :class => ["btn", "btn-small", "btn-link"]


%ul

  - @offers.each do |offer|
    %li.offer
      %h3
        = link_to offer.title, offer
        %small= offer.category
        %div.tags.pull-right
          - offer.tags.each do |tag|

            %span.label
              %i.icon-tag
              = tag
      %p= offer.description
      %p= t ".offered_by", size: offer.joined_users.size
      %dl

        - [:end_on, :global, :joinable, :permanent, :start_on].each do |m|
          - if offer.send(m).present?
            %dt= m
            %dd= offer.send m

