<% if @offer.organization == current_organization %>
  <p class="actions text-right">
    <% if admin? or @offer.user == current_user %>
      <%= render 'shared/post_actions', post: @offer %>
    <% end %>
    <% if current_user and @offer.user != current_user %>
      <%= link_to new_transfer_path(id: @offer.user.id, offer: @offer.id, destination_account_id: @destination_account.id),
                  class: "btn btn-success" do %>
        <%= glyph :time %>
        <%= t ".give_time_for" %>
      <% end %>
    <% end %>
  </p>
<% end %>
<%= render "shared/post", post: @offer %>
