<h1>
  <%= Organization.model_name.human(count: :many) %>
</h1>

<div class="row">
  <div class="col-md-6">
    <form action="<%= organizations_path %>" class="navbar-form navbar-left" method="get">
      <div class="form-group">
        <input class="form-control"
               name="q"
               placeholder="<%= t "global.search_location" %>"
               type="text"
               value="<%= params[:q] %>">
      </div>
      <button class="btn btn-default" type="submit"><%= t "global.search" %></button>
    </form>
  </div>
</div>

<div class="panel panel-default table-responsive">
  <div class="panel-body">
    <table class="table table-hover table-condensed panel">
      <thead>
        <tr>
          <th></th>
          <th><%= t '.city' %></th>
          <th><%= t '.neighborhood' %></th>
          <th><%= t '.web' %></th>
          <th><%= t '.member_count' %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <%= render 'organizations_row', organizations: @user_organizations if !params[:page] || params[:page] == '1' %>
        <%= render 'organizations_row', organizations: @organizations %>
      </tbody>
    </table>
    <div class="paginate-align">
      <%= paginate @organizations %>
    </div>
  </div>
</div>
