<h1>
  <%= Organization.model_name.human(count: :many) %>
</h1>

<div class="row">
  <div class="col-md-6">
    <form action="<%= organizations_path %>" class="navbar-form navbar-left" method="get">
      <div class="form-group">
        <input class="form-control"
               name="q"
               placeholder="<%= t "global.search_location" %>"
               type="text"
               value="<%= params[:q] %>">
      </div>
      <button class="btn btn-default" type="submit"><%= t "global.search" %></button>
    </form>
  </div>
</div>

<div class="panel panel-default table-responsive">
  <div class="panel-body">
    <table class="table table-hover table-condensed panel">
      <thead>
        <tr>
          <th></th>
          <th><%= t '.city' %></th>
          <th><%= t '.neighborhood' %></th>
          <th><%= t '.web' %></th>
          <th><%= t '.member_count' %></th>
          <%= '<th></th>'.html_safe if current_user %>
        </tr>
      </thead>
      <tbody>
        <% @organizations.each do |org| %>
          <tr>
            <td><%= link_to(org.name, org) %></td>
            <td><%= org.city %></td>
            <td><%= org.neighborhood %></td>
            <td><%= link_to(org.web, org.web) if org.web.present? %></td>
            <td><%= org.members.count %></td>
            <% if current_user %>
              <td>
                <% if petition = current_user.petitions.where(organization_id: org.id).last %>
                  <%= Petition::STATUS[petition.status] %>
                <% else %>
                  <%= link_to 'Apply to join', petitions_path(user_id: current_user.id, organization_id: org.id, status: 0), method: :post %>
                <% end %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="paginate-align">
      <%= paginate @organizations %>
    </div>
  </div>
</div>
