<h1>
  <%= Organization.model_name.human(count: :many) %>
</h1>
<div class="row">
  <div class="col-md-6">
    <form action="<%= organizations_path %>"
          class="navbar-form navbar-left"
          method="get"
          role="search">
      <div class="form-group">
        <input  class="form-control"
                name="q"
                placeholder="<%= t "global.search_location" %>"
                type="text"
                value="<%= params[:q] %>">
      </div>
      <button class="btn btn-default" type="submit">
        <%= t "global.search" %>
      </button>
    </form>
  </div>
</div>

<div class="panel panel-default table-responsive">
  <div class="panel-body">
    <table class="table table-hover table-condensed panel">
      <thead>
        <tr>
          <th></th>
          <th><%= t '.city' %></th>
          <th><%= t '.neighborhood' %></th>
          <th><%= t '.web' %></th>
          <th><%= t '.member_count' %></th>
        </tr>
      </thead>
      <tbody>
        <% @organizations.each do |org| %>
          <tr>
            <td><%= link_to(org.name, org) %></td>
            <td><%= org.city %></td>
            <td><%= org.neighborhood %></td>
            <td><%= link_to(org.web, org.web) if org.web.present? %></td>
            <td><%= org.members.count %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="paginate-align">
      <%= paginate @organizations %>
    </div>
  </div>
</div>
