<h1>
  <%= Organization.model_name.human(count: :many) %>
</h1>

<div class="row">
  <div class="col-md-6">
    <form action="<%= organizations_path %>" class="form-inline d-flex navbar-left" method="get">
        <input class="form-control d-inline w-auto"
               name="q"
               placeholder="<%= t "global.search_location" %>"
               type="text"
               value="<%= params[:q] %>">
      <button class="btn btn-secondary" type="submit"><%= t "global.search" %></button>
    </form>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <table class="table table-responsive table-hover table-sm card">
      <thead>
        <tr>
          <th></th>
          <th><%= t '.city' %></th>
          <th><%= t '.neighborhood' %></th>
          <th><%= t '.web' %></th>
          <th><%= t '.member_count' %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: 'organizations_row', collection: @user_organizations, as: :org if !params[:page] || params[:page] == '1' %>
        <%= render partial: 'organizations_row', collection: @organizations, as: :org %>
      </tbody>
    </table>
    <div class="paginate-align">
      <%= paginate @organizations %>
    </div>
  </div>
</div>
