%h1
  %i.icon-group.icon-border
  = t "organizations"

%ul.nav.nav-pills
  - if superadmin?
    %li
      %a{href: new_organization_path}
        %i.icon-plus
        = t 'add'

%table.table.table-hover.table-condensed
  %thead
    %tr
      %th= t ".nombre"
      %th= t ".member_count"
      %th
        %i.icon-hand-down
        = t "global.table.actions"
  %tbody
    - @organizations.each do |org|
      %tr
        %td
          = link_to(org.name, org)
        %td
          = org.users.count
        %td.hover-actions
          / %a.action{href: organization_path(org)}
          /   %i.icon-eye-open
          /   = t "global.show"
          - if current_user.try(:admin?) and current_organization == org
            %a.action{href: edit_organization_path(org)}
              %i.icon-pencil
              = t "global.edit"
            %a.action{href: organization_path(org), data: {method: :delete}}
              %i.icon-trash
              = t "global.borrar"

