<div class="card">
  <div class="card-body table-responsive">
    <table class='table table-hover table-sm'>
      <thead>
        <tr>
          <th><%= t 'activerecord.attributes.organization.name' %></th>
          <th><%= t 'global.information' %></th>
          <th><%= t 'global.enter_to_timebank' %></th>
        </tr>
      </thead>
      <tbody>
        <% @organizations.each_with_index do |organization, index| %>
          <tr>
            <td><%= organization.name %></td>
            <td><a href='#' data-bs-toggle='modal' data-bs-target='#org_dialog<%= index %>'> <%= t 'global.show' %></a></td>
            <td>
              <% if current_user.active?(organization) %>
                <%= link_to set_current_organization_path(organization), method: :post do %>
                  <%= glyph 'arrow-right' %>
                  <%= t 'application.landing.button' %>
                <% end %>
              <% else %>
                <span class="badge bg-secondary"><%= t 'activerecord.attributes.user.deactivated' %></span>
              <% end %>
            </td>
          </tr>

          <div class='modal fade' id='org_dialog<%= index %>'>
            <div class='modal-dialog modal-dialog-centered'>
              <div class='modal-content'>
                <div class='modal-header'>
                  <h4 class='modal-title'><%= organization.name %></h4>
                  <button type='button' class='btn-close' data-bs-dismiss='modal'> </button>
                </div>
                <div class='modal-body'>
                  <strong><%= t 'activerecord.attributes.organization.address' %>:</strong>
                  <%= organization.address %> <%= organization.neighborhood %> <%= organization.city %>
                  <br>
                  <strong><%= t 'activerecord.attributes.organization.phone' %>:</strong>
                  <%= organization.phone %>
                  <br>
                  <strong><%= t 'activerecord.attributes.organization.email'%>:</strong>
                  <%= organization.email %>
                  <br>
                  <strong>Web:</strong>
                  <a href="<%= organization.web %>"><%= organization.web %></a>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<div class='alert alert-info'>
  * <%= t 'users.index.deactivated_warning' %>
</div>
