<div class="table-responsive">
    <table class="table table-hover table-condensed users panel">
        <thead>
            <tr>
                <th>
                    <%= t 'activerecord.attributes.organization.name'%>
                </th>
                <th>         
                    <%= t 'global.Information'%>
                </th>
                <th>         
                    <%= t 'global.enter_to_timebank'%>
                </th>
            </tr>
        </thead>
        <tbody>
        <% @organizations.each_with_index do |organization, index| %>
            <tr>
                <td><%= organization.name %></td>
                <td><a href="" data-toggle="modal" data-target="#dialogo<%= index %>"> <%= t 'global.see'%><a></td>
                <td>
                <%if Member.where(organization_id:organization.id, user_id:current_user.id).first.active %> 
                    <%= link_to set_current_organization_path(organization), method: :post do %>

                    <%= t 'application.landing.button' %>
                    <% end %>
                <% else %>
                    <%= t 'activerecord.attributes.user.deactivated'%>
                <% end %>
                </td>
                
            </tr>
        <div class="modal fade" id="dialogo<%= index %>">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
        
            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal">X</button>
                <h4 class="modal-title"><%= organization.name %></h4>
            </div>
        
            <!-- cuerpo del diálogo -->
            <div class="modal-body">
                <strong><%= t 'activerecord.attributes.organization.address' %>:</strong> <% if organization.address? %><%= organization.address %>, <% end %>
                        <% if organization.neighborhood? %><%= organization.neighborhood %>, <% end %>
                        <% if organization.city? %> <%= organization.city %> <% end %>

                        <% if !organization.city? && !organization.neighborhood? && !organization.address? %>
                            <%=  t 'global.no_information_available' %>
                        <% end %>
                <br>
                <strong><%= t 'activerecord.attributes.organization.phone' %>:</strong> <% if organization.phone? %><%= organization.phone %> <%else%> <%=  t 'global.no_information_available' %> <% end %>
                <br>
                <strong><%= t 'activerecord.attributes.organization.email '%>:</strong> <% if organization.email? %><%= organization.email %> <%else%> <%=  t 'global.no_information_available' %> <% end %>
                <br>
                <strong>Web:</strong> <% if organization.web? %><%= organization.web %> <%else%> <%=  t 'global.no_information_available' %> <% end %>
            </div>
        
            <!-- pie del diálogo -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        
            </div>
        </div>
        </div>
        <% end %>
        </tbody>
        
    </table>

    <div class="alert alert-info">
        *<%= t 'users.index.deactivated_warning' %>
    </div>
</div>