%h1
  = @organization.name

%ul.nav.nav-pills
  %li
    %a{href: organizations_path}
      %span.glyphicon.glyphicon-hand-left
      = t 'back'
  - if admin?
    %li
      %a{href: edit_organization_path(@organization)}
        %span.glyphicon.glyphicon-pencil
        = t "edit"
  - if superadmin?
    %li
      %a{href: organization_path(@organization), data: {method: :DELETE, confirm: t("are_you_sure") }}
        %span.glyphicon.glyphicon-trash
        = t "delete"
  %li
    %a{href: give_time_organization_path(@organization)}
      %span.glyphicon.glyphicon-time
      = t "give time"


%dl
  %dt= t ".created_at"
  %dd= l @organization.created_at
  %dt= t ".updated_at"
  %dd= l @organization.updated_at
  %dt= t ".reg_number_seq"
  %dd= @organization.reg_number_seq
