.well
  = simple_form_for @category do |f|
    = f.association :parent, label_method: :fqn, input_html: {class: 'select2', style: 'width: 75%'}
    - I18n.available_locales.each do |lo|
      = f.input "name_#{lo}", input_html: {name: "category[name_translations][#{lo}]", class: "span7"}
    = f.submit
