%h1
  = Inquiry.model_name.human(count: :many)
  - if @category.present?
    %small
      %span.glyphicon.glyphicon-folder-open
      = @category.name
  - if params[:q].present?
    %small
      %span.glyphicon.glyphicon-search
      = params[:q]

.navbar
  %form.navbar-form.navbar-left{action: inquiries_path, role: "search", method: "get"}
    .form-group
      %input.form-control{type: "text", placeholder: t("global.search"), name: "q", value: params[:q]}
    %button.btn.btn-default{type: "submit"}= t("global.search")

  %ul.nav.navbar-nav
    %li.dropdown
      %a.dropdown-toggle{href: "#", "data-toggle" => "dropdown"}
        = @category ? @category.name : Category.model_name.human
        %span.caret
      %ul.dropdown-menu{role: "menu"}
        %li= link_to "× #{t("global.all")}", inquiries_path
        - Category.all.each do |c|
          - next if c == @category
          %li= link_to c.name, inquiries_path(cat: c.id)

  %ul.nav.navbar-nav.pull-right
    %li
      %a{href: new_inquiry_path}
        %span.glyphicon.glyphicon-plus
        = t "helpers.submit.create", model: Inquiry.model_name.human

.inquiries
  = render :partial => 'shared/posts', :locals => { :posts => @inquiries.actives }

= paginate @inquiries.actives
