<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1>
        <%= Inquiry.model_name.human(count: :many) %>
        <%= render "shared/show_filter_hint" %>
      </h1>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <%= render "shared/post_filters", base_path: inquiries_path %>

    <div class="col-md-4">
      <% if current_user && current_organization && !params[:org] %>
        <ul class="nav navbar-nav pull-right">
          <li>
            <%= link_to new_inquiry_path do %>
              <%= glyph :plus %>
              <%= t "helpers.submit.create", model: Inquiry.model_name.human %>
            <% end %>
          </li>
        </ul>
      <% end %>
    </div>
  </div>
</div>

<div class="container-fluid inquiries">
  <div class="row">
    <div class="col-md-12">
      <%= render "shared/posts", posts: @inquiries %>
    </div>
  </div>
</div>

<%= paginate @inquiries %>
