<p class="actions text-right">
  <% if admin? || @inquiry.user == current_user %>
    <%= link_to edit_inquiry_path(@inquiry), class: "btn btn-warning" do %>
      <%= glyph :pencil %>
      <%= t "global.edit" %>
    <% end %>
    <%= link_to @inquiry,
                data: { method: :delete, confirm: "sure?" },
                class: "btn btn-danger" do %>
      <%= glyph :trash %>
      <%= t "global.delete" %>
    <% end %>
  <% end %>
</p>
<%= render "shared/post", post: @inquiry %>
