

%li.nav-header= t ".administration"
%li{class: ('active' if current_page? controller: "organizations")}
  %a{href: organizations_path}
    %span.glyphicon.glyphicon-group
    = Organization.model_name.human(count: :many)
/ %li{class: ('active' if current_page? controller: "categories")}
/   %a{href: categories_path}
/     %span.glyphicon.glyphicon-tags
/     = Category.model_name.human.pluralize
%li{class: ('active' if current_page? controller: "users")}
  %a{href: users_path}
    %span.glyphicon.glyphicon-user
    = User.model_name.human.pluralize

%li{class: ('active' if current_page? controller: "offers")}
  %a{href: offers_path}
    %span.glyphicon.glyphicon-hand-up
    = Offer.model_name.human(count: :many)

%li{class: ('active' if current_page? controller: "inquiries")}
  %a{href: inquiries_path}
    %span.glyphicon.glyphicon-bell
    = Inquiry.model_name.human(count: :many)

%li.nav-header= t ".reports"
%li
  %a{href: "/report/cat_with_users", data: {popup: true}}
    %span.glyphicon.glyphicon-list-alt
    = t "reports.cat_with_users.title"
%li
  %a{href: "/report/user_list", data: {popup: true}}
    %span.glyphicon.glyphicon-list-alt
    = t "reports.user_list.title"

%li.nav-header= t ".stats"
%li
  %a{href: "#"}
    %span.glyphicon.glyphicon-tasks
    = t "stats.min_balance.title"
