<nav class="navbar navbar-expand-md navbar-static-top navbar-dark mb-4" role="navigation">
  <div class="container-fluid">
    <div class="container">
      <div class="row align-content-center w-100">
        <div class="col-12 col-sm-3 col-md-3 col-lg-3 d-flex">
          <div class="navbar-header w-100 d-flex">
            <% if current_user && current_organization %>
              <a class="navbar-brand align-content-center" href="<%= organization_path(current_organization) %>">TimeOverflow</a>
            <% else %>
              <a class="navbar-brand align-content-center" href="/">TimeOverflow</a>
            <% end %>
            <button type="button" class="navbar-toggler collapsed ms-auto" data-bs-toggle="collapse" data-bs-target="#navbar-collapse" aria-expanded="false">
              <span class="visually-hidden">Toggle navigation</span>
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
        </div>
        <div class="col-12 col-sm-9 col-md-9 col-lg-9">
          <div id="navbar-collapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav ms-auto d-none d-sm-flex">
              <% if current_user %>
                <%= render 'application/menus/user_admin_menu' %>
              <% else %>
                <%= render 'application/menus/visitor_menu' %>
              <% end %>
            </ul>

            <ul class="nav navbar-nav navbar-right d-sm-none">
              <% if current_user %>
                <li class="nav-item">
                  <%= image_tag avatar_url(current_user) %>
                  <%= current_user.email %>
                </li>
                <%= render 'application/menus/user_admin_menu_items' %>
              <% else %>
                <%= render 'application/menus/visitor_menu' %>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<% if current_user && current_organization %>
  <nav role="navigation">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="nav nav-pills actions-menu">
            <li class="nav-item">
              <%= link_to users_path, class: "nav-link #{"active" if current_page?(users_path)}" do %>
                <%= glyph :user %>
                <%= t("users.index.members") %>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to offers_path, class: "nav-link #{"active" if current_page?(offers_path)}" do %>
                <%= glyph :offer %>
                <%= Offer.model_name.human(count: :many) %>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to inquiries_path, class: "nav-link #{"active" if current_page?(inquiries_path)}" do %>
                <%= glyph :inquiry %>
                <%= Inquiry.model_name.human(count: :many) %>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to alpha_grouped_index_tags_path, class: "nav-link #{"active" if current_page?(alpha_grouped_index_tags_path)}" do %>
                <%= glyph :tags %>
                <%= t ".tags" %>
              <% end %>
            </li>
            <% if current_user.manages? current_organization %>
              <%= render 'application/menus/organization_reports_menu' %>
              <%= render 'application/menus/organization_statistics_menu' %>
              <%= render 'application/menus/organization_listings_menu' %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </nav>
<% end %>
