!!! 5
%html{lang: "en", "ng-app" => "APP"}
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title{"ng-controller" => "TitleController"} {{ pageTitle() }}
    = javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"
    = javascript_include_tag "//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"
    = javascript_include_tag "//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/i18n/jquery.ui.datepicker-es.js"
    = javascript_include_tag "//ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"
    = javascript_include_tag "//ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular-resource.min.js"
    = javascript_include_tag "//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js"
    = javascript_include_tag "application"
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
    = stylesheet_link_tag "//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/base/jquery-ui.css"
    = stylesheet_link_tag "//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap.no-icons.min.css"
    = stylesheet_link_tag "//netdna.bootstrapcdn.com/font-awesome/2.0/css/font-awesome.css"
    = stylesheet_link_tag "application", :media => "all"
    %link(href="favicon.ico" rel="shortcut icon")


  %body{"ng-controller" => "RootController"}
    .navbar.navbar-fixed-top.navbar-inverse
      .navbar-inner
        .container
          %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand(href="/") {{ pageTitle() }}
          .container.nav-collapse
            %ul.nav
              %li= link_to "Link 1", "/path1"
              %li= link_to "Organizations", "/organizations"
              %li= link_to "Categories", "/categories"
              %li= link_to "Users", "/users"
            %ul.nav.pull-right
              %li
                %a{"ng-click" => "logout()"} Log out {{ current_user.email }}  ssss 
            %form.navbar-search.pull-right
              %input.search-query.xxlarge{"type" => "text", "placeholder" => "Search", "ng-model" => "searchTerm"}


    .container
      .row
        .span12{"ng-view" => ""}

    .fade#loginForm{"ui-modal" => "", "ng-model" => "$root.showLogin"}
      .well{"ng-controller" => "LoginController"}
        %form.form{"ng-submit" => "submit()"}
          %label email
          %input{type: "text", "ng-model" => "login.email"}
          %label password
          %input{type: "password", "ng-model" => "login.password"}
          %button.btn{type: "submit"} Login




