%table.table.table-condensed.table-bordered.table-striped
  %thead
    %tr
      %th= Offer.model_name.human
      %th= User.model_name.human.pluralize
  %tbody
    - @offers.each do |cat, offers_in_cat|
      %tr{style: "font-weight: bold"}
        %td{colspan: 2}= cat.name
      - offers_in_cat.each do |of|
        %tr
          %td= of.title
          %td= of.joined_users.pluck("users.id").sort.join(', ')

