<div class="row">
  <table class="table table-condensed table-bordered table-striped">
      <thead>
      <tr>
        <th><%= t '.date' %></th>
        <th><%= t '.from' %></th>
        <th><%= t 'from ID' %></th>
        <th><%= t '.to' %></th>
        <th><%= t 'to ID' %></th>
        <th><%= t '.post' %></th>
        <th><%= t 'post ID' %></th>
        <th><%= t '.reason' %></th>
        <th><%= t '.quantity' %></th>
      </tr>
    </thead>
    <% @transfers.each do |transfer| %>
      <tr>
        <td>
          <%= transfer.created_at %>
        </td>
        <% transfer.movements.sort_by(&:amount).each do |mv| %>
          <td>
            <% mv.account.tap do |account| %>
              <% if account.accountable.present? %>
                <% if account.accountable_type == 'Organization' %>
                  <%= account.accountable %>
                <% elsif account.accountable.active %>
                  <%= account.accountable.display_name_with_uid %>
                <% else %>
                  <%= t '.inactive_user' %>
                <% end %>
              <% else %>
                <%= t '.deleted_user' %>
              <% end %>
            <% end %>
          </td>
          <td>
            <% mv.account.tap do |account| %>
              <% if account.accountable.present? %>
                <% if account.accountable_type == 'Organization' %>
                  0
                <% elsif account.accountable.active %>
                  <%= account.accountable.display_id %>
                <% else %>
                  <%= t '.inactive_user' %>
                <% end %>
              <% else %>
                <%= t '.deleted_user' %>
              <% end %>
            <% end %>
          </td>
        <% end %>
        <td>
          <%= transfer.post %>
        </td>
        <td>
          <%= transfer.post_id %>
        </td>
        <td>
          <%= transfer.reason %>
        </td>
        <td>
          <%= (transfer.movements.first.amount/3600.0).abs.round(2) %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
