<div class="row">
  <table class="table table-condensed table-bordered table-striped">
    <thead>
      <tr>
        <th>N</th>
        <th><%= User.human_attribute_name :username %></th>
        <th><%= User.human_attribute_name :email %></th>
        <th><%= User.human_attribute_name :phone %></th>
        <th><%= User.human_attribute_name :alt_phone %></th>
        <th><%= User.human_attribute_name :created_at %></th>
        <th><%= User.human_attribute_name :last_sign_in_at %></th>
      </tr>
    </thead>
    <tbody>
      <% @members.each do |member| %>
        <tr>
          <th><%= member.member_uid %></th>
          <td><%= member.user.username %></td>
          <td><%= member.user.email_if_real %></td>
          <td><%= member.user.phone %></td>
          <td><%= member.user.alt_phone %></td>
          <td><%= l(member.user.created_at, format: :long) %></td>
          <td><%= l(member.user.last_sign_in_at, format: :long) if member.user.last_sign_in_at.present? %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
