!!! 5
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %meta{"http-equiv" => "X-UA-Compatible", content: "IE=Edge,chrome=1"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %title
      = yield :title
    = cdn :"lodash.js", "1.2.1", "lodash.min.js"
    = cdn :jquery, "2.0.0", "jquery.min.js"
    = cdn :jqueryui, "1.10.3", "jquery-ui.min.js"
    = cdn :datatables, "1.9.4", "jquery.dataTables.min.js"
    = cdn :select2, "3.4.0", "select2.min.js"
    = cdn :"twitter-bootstrap", "2.3.2", "js/bootstrap.min.js"
    = cdn :"bootstrap-datepicker", "1.0.2", "js/bootstrap-datepicker.min.js"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = cdn :jqueryui, "1.10.3", "themes/base/jquery-ui.css"
    = cdn :select2, "3.4.0", "select2.css"
    = cdn :"twitter-bootstrap", "2.3.1", "css/bootstrap.no-icons.min.css"
    = cdn :"bootstrap-datepicker", "1.0.2", "css/bootstrap-datepicker.css"
    = cdn :"font-awesome", "3.1.1", "css/font-awesome.css"
    = stylesheet_link_tag "application", :media => "all"
    %link{href: "/favicon.ico", rel: "shortcut icon"}

  %body
    .navbar.navbar-fixed-top.navbar-inverse
      .navbar-inner
        .container-fluid
          = render 'menu'

    .container-fluid
      .row-fluid
        #side-nav.sidebar-nav.span2
          %ul.clearfix.nav.nav-list.well
            = render 'nav'
        #main_container.span10
          = yield


