<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta content="IE=Edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>
      <% if content_for? :window_title %>
        <%= content_for :window_title %>
      <% else %>
        <% if current_organization %>
          <%= current_organization %> —
        <% end %>
        <%= yield :title %>
      <% end %>
    </title>
    <%= csrf_meta_tags %>
    <link href="/favicon.ico" rel="shortcut icon">
    <%= stylesheet_link_tag 'libs', media: 'all' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'libs' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body <%= controller.controller_name == 'home' ? 'class=landing' : '' %> data-action="<%= params[:controller] %>-<%= params[:action] %>"
        ng-app="timeoverflow"
        ng-cloak>
    <%= render 'navbar' %>
    <div class="container">
      <%= render 'layouts/messages' %>
      <%= yield %>
    </div>
    <div class="modal fade" id="modal">
      <div class="modal-dialog">
        <div class="modal-content"></div>
      </div>
    </div>
    <div class="footer">
      <p>
        <%= link_to t('application.terms_conditions'),
            tnc_path,
            data: { target: '#modal', toggle: 'modal' } %>
        |
        <%= link_to t('layouts.application.about'), page_path('about') %>
      </p>
    </div>
    <!-- Piwik -->
    <script type="text/javascript">
      var _paq = _paq || [];
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        _paq.push(['setTrackerUrl',  'https://api-3d186b7b77a47155c00f114ddc52a2e7.fki.sandcats.io']);
        _paq.push(['setSiteId', 1]);
        _paq.push(['setApiToken', 'YIg1zq997dOFyvS5VTi4RZ0hnC0Ji3MkeYgHNvdky0c']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src='https://00cwpvzw77kc4cysvzdy.fki.sandcats.io/embed.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <!-- End Piwik Code -->
  </body>
</html>
