<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta content="IE=Edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title><%= page_title %></title>
    <%= csrf_meta_tags %>
    <link href="/favicon.ico" rel="shortcut icon">
    <%= stylesheet_link_tag 'libs', media: 'all' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Work+Sans:400,500,600,700' %>
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/icon?family=Material+Icons' %>

    <%= javascript_include_tag 'libs' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body class="<%= get_body_css_class(controller_name) %>">
    <%= render 'navbar' %>
    <div class="container content">
      <%= render 'layouts/messages' unless devise_controller? %>
      <%= yield %>
    </div>
    <div class="modal fade" id="modal">
      <div class="modal-dialog">
        <div class="modal-content"></div>
      </div>
    </div>

    <%= render_brand_logo %>
    <%= render 'application/footer' %>

    <div class="back-overlay"></div>
  </body>
</html>
