!!! 5
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %meta{"http-equiv" => "X-UA-Compatible", content: "IE=Edge,chrome=1"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %title
      - if content_for? :window_title
        -
        = content_for :window_title
      - else
        - if current_organization
          = current_organization
          —
        = yield :title

    = csrf_meta_tags
    = theme_stylesheet_link_tag
    = stylesheet_link_tag "//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/smoothness/jquery-ui.css"
    = stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/tagmanager/3.0.0/tagmanager.css"
    = stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/select2/3.5.0/select2-bootstrap.css"
    = stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/select2/3.5.0/select2.css"
    = stylesheet_link_tag "application", :media => "all"
    %link{href: "/favicon.ico", rel: "shortcut icon"}

    = javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"
    = javascript_include_tag "//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"
    = javascript_include_tag "//ajax.aspnetcdn.com/ajax/jQuery.validate/1.11.1/jquery.validate.js"
    = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/lodash.js/1.2.1/lodash.min.js"
    = javascript_include_tag "//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"
    = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/tagmanager/3.0.0/tagmanager.js"
    = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.9.3/typeahead.min.js"
    = javascript_include_tag "//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"
    = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/angular-i18n/1.2.15/angular-locale_es-es.js"
    = javascript_include_tag "//code.highcharts.com/highcharts.js"
    = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/select2/3.5.0/select2.js"

    = browserid_js_tag
    = javascript_include_tag "application"

    %body{ "ng-app" => "timeoverflow" }
    = render 'navbar'

    .container
      = yield


      .row#footer
        %a{href: tnc_path, "data-toggle" => "modal", "data-target" => "#modal"} términos del servicio

    .modal.fade#modal
      .modal-dialog
        .modal-content

