!!! 5
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %meta{"http-equiv" => "X-UA-Compatible", content: "IE=Edge,chrome=1"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %title
      =t(".report_title")
    / = javascript_include_tag "application"
    / = csrf_meta_tags
    = theme_stylesheet_link_tag
    = stylesheet_link_tag "application", :media => "all"
    %link{href: "/favicon.ico", rel: "shortcut icon"}

  %body
    .container
      .row.exports
        Download:
        = link_to 'CSV', url_for(params.merge(format: :csv))
        = link_to 'PDF', url_for(params.merge(format: :pdf))

      = yield
